/* */

html {
    position: relative;
    min-height: 100%;
    overflow-y: scroll;
}

body {
    background-color: @color-white-dark;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    margin-bottom: 60px;
    color: @color-text;
}

[ng\:cloak],
[ng-cloak],
.ng-cloak {
    display: none !important;
}


/* main */

.main {
    position: relative;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}


/* loading bar */

#loading-bar .bar {
    background: @color-accent;
}

#loading-bar .peg {
    .box-shadow-level(3);
}

@media (max-width: 767px) {
    #loading-bar-spinner {
        left: 0 !important;
        right: 0 !important;
        width: 2em;
        margin: 0 auto;
    }
}

#loading-bar-spinner {
    right: 21px;
    left: inherit;
    .spinner-icon {
        .c-icon.c-icon-circle-notch;
        .c-icon.c-icon-2x;
        border-top-color: @color-accent;
        border-left-color: @color-accent;
    }
}


/* tabs */

.nav {
    &.nav-tabs {
        > li {
            > a {
                font-weight: @font-weight-normal;
                .border-radius(2px);
            }
            &.active {
                > a {
                    font-weight: @font-weight-bold;
                }
            }
        }
    }
}


/* date/time picker animation */

.timepicker,
.datepicker {
    padding: 5px;
    margin-top: -1px;
    button {
        border: 0 !important;
        .box-shadow(0 0 0) !important;
        .border-radius(0) !important;
    }
}


/* round badge */

.image-badge {
    .border-radius(50%);
    .box-shadow-level(1);
}

.image-badge-md {
    width: 40px;
    height: 40px;
}

.image-badge-lg {
    width: 80px;
    height: 80px;
}


/* stats */

.form-stats {
    > div {
        margin: -5px -10px;
        .form-horizontal:first-child {
            > .form-group {
                padding: 10px 0;
                margin-bottom: 0;
                cursor: default;
                border-top: 1px solid @color-white-border;
                &:first-child {
                    border-top: 0;
                }
                > label {
                    text-align: left;
                }
            }
        }
    }
}


/* overview one */

.overview-one {
    > a {
        float: right;
        width: 80px;
        height: 80px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    > .title {
        font-size: 20px;
        font-weight: @font-weight-bold;
        margin-bottom: 10px;
    }
    > .subtitle {
        font-size: 16px;
        color: lighten(@color-text, 30%);
    }
    > .content {
        white-space: pre-line;
        text-align: justify;
    }
    > .links {
        margin-top: 10px;
        a {
            display: inline-block;
            font-size: 18px;
            margin-bottom: 5px;
            > i {
                margin-right: 5px;
            }
        }
    }
}


/* tooltip */

.tooltip {
    > .tooltip-inner {
        background-color: rgba(0, 0, 0, 0.89);
        .border-radius(2px);
        .box-shadow-level(2);
        font-weight: @font-weight-bold;
        padding: 5px 8px;
    }
}


/* other */

a {
    color: @color-primary;
    text-decoration: none;
}

legend {
    font-size: 18px;
    font-weight: @font-weight-bold;
    color: @color-text;
}

label {
    font-weight: @font-weight-bold;
}

//http://stackoverflow.com/questions/20547819/vertical-align-with-bootstrap-3?answertab=active#tab-top
.col-v-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.text-muted {
    color: lighten(@color-text, 40%)
}

.vertical-list {
    > * {
        margin-bottom: 5px;
        &:last-child {
            margin-bottom: inherit;
        }
    }
}

.button-list {
    > button {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 180px;
        padding: 4px 8px;
        margin-right: 5px;
        margin-bottom: 5px;
        > img {
            .box-shadow-level(1);
            width: 32px;
            height: 32px;
        }
    }
}

.control-label {
    padding-top: 0 !important;
}

.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}

@import "data/app.data.less";
@import "common/app.common.less";
@import "editor/app.editor.less";
@import "viewer/app.viewer.less";
