<div class="container-fluid animate-main-content" init>
    <div class="row">
        <div class="col-md-12 text-right">
            <div class="card-content">
                <div class="card-content-header">
                    <button class="btn btn-default btn-circle" type="button" data-title="Schema Validierung" ng-class="valid ? 'btn-success': 'btn-danger'" bs-tooltip>
                        <i class="fa fa-fw" ng-class="valid ? 'fa-check': 'fa-times'"></i>
                    </button>
                    <button class="btn btn-danger" type="button" ng-click="delete(show)">
                        <i class="fa fa-trash"></i> Löschen
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card-content">
                <div class="card-content-header">
                    Format
                </div>
                <div class="card-content-body" form>
                    <!-- id -->
                    <div name="'Primärschlüssel'" key="'id'" form-element>
                        <div class="input-group" ng-init="lockedId=true">
                            <input class="form-control" ng-model="show.id" ng-disabled="lockedId">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="lockedId=!lockedId">
                                    <i class="fa fa-fw" ng-class="{'fa-lock': lockedId, 'fa-unlock-alt': !lockedId}"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <!-- name -->
                    <div name="'Name'" key="'name'" form-element>
                        <input type="text" class="form-control" ng-model="show.name">
                    </div>
                    <!-- event -->
                    <div name="'Event'" key="'event'" form-element>
                        <div class="checkbox checkbox-primary">
                            <input type="checkbox" value="asc" ng-model="show.event">
                            <label for="event"></label>
                        </div>
                    </div>
                    <!-- description -->
                    <div name="'Beschreibung'" key="'description'" form-element>
                        <textarea type="text" rows="5" class="form-control" ng-model="show.description"></textarea>
                    </div>
                    <!-- links -->
                    <div name="'Links'" key="'links'" form-element>
                        <div class="vertical-list">
                            <div class="input-group" ng-repeat="link in show.links track by $index">
                                <input type="text" class="form-control" ng-model="show.links[$index]">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="show.links.splice($index, 1)">
                                        <i class="fa fa-fw fa-times"></i>
                                    </button>
                                </span>
                            </div>
                            <button class="btn btn-default" type="button" ng-click="show.links.push('')">
                                <i class="fa fa-fw fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- image -->
                    <div name="'Bild'" key="'image'" form-element>
                        <div download="show.id" img-input="show.image"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div json-editor="show"></div>
        </div>
    </div>
</div>
