<div class="card-content chart">
    <div class="card-content-header">
        <table>
            <tr>
                <td>
                    <div ng-if="options.title.enable" ng-bind-html="options.title.text"></div>
                </td>
                <td class="chart-options text-right">
                    <div chart-date-group ng-if="options.dateGroup.enable"></div>
                    <div chart-date-range ng-if="options.dateRange.enable"></div>
                    <div chart-export ng-if="options.export.enable"></div>
                </td>
            </tr>
        </table>
    </div>
    <div class="card-content-body">
        <div class="chart-overlay">
            <div class="chart-loading" ng-show="loading">
                <div class="c-icon c-icon-3x c-icon-circle-notch c-icon-spin"></div>
            </div>
            <div class="chart-error" ng-show="!loading && error">
                Fehler bei der Darstellung
            </div>
            <div class="chart-empty" ng-show="!loading && !error && !data[0].values.length">
                Keine Daten zum Darstellen
            </div>
        </div>
        <div class="chart-container">
            <div class="chart-container-scroll" style="min-width:{{options.chart.minWidth}}px; height:{{options.chart.height}}px">
                <nvd3 options="options" data="data" config="config"></nvd3>
            </div>
        </div>
    </div>
    <div class="card-content-footer" ng-if="options.caption.enable">
        <div ng-bind-html="options.caption.text"></div>
    </div>
</div>
