<div class="container-fluid animate-main-content" init>
    <div table-view="table"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="card-content">
                <div class="card-content-header">
                    Code Ausführen
                </div>
                <div class="card-content-body">
                    <div>
                        <code>
                            _.each(hosts, function(host) {
                                <textarea class="form-control" rows="10" ng-model="exec.code"></textarea>
                            });
                        </code>
                    </div>
                    <div>
                        <button class="btn btn-default" type="button" ng-click="run(exec)">
                            <i class="fa fa-exclamation"></i> Ausführen
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
