<div>
    <table class="table cards" ng-table="tableParams">
        <tr ng-repeat="host in $data">
            <td class="hide"></td>
        </tr>
        <td class="container-fluid">
            <div class="row">
                <div ng-repeat="host in $data" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card-image">
                        <div class="card-image-header card-image-header-xs">
                            <div class="image">
                                <a ng-href="#/editor/videos/hosts/{{host.id}}">
                                    <img img-src="{{host.image}}" img-fallback="{{imagePlaceholders.host}}" img-loading="{{imagePlaceholders.host}}">
                                </a>
                            </div>
                            <div class="title">
                                <a ng-href="#/editor/videos/hosts/{{host.id}}">{{host.firstname}} {{host.lastname}}</a>
                            </div>
                        </div>
                        <div class="card-image-body card-image-body-xs">
                            <div class="description">
                                {{host.description}}
                            </div>
                        </div>
                        <div class="card-image-footer text-right">
                            <button class="btn btn-danger" type="button" data-title="Löschen" ng-click="delete(host)" bs-tooltip>
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </table>
    <div table-pagination="tableParams"></div>
</div>
