<div class="table-pagination form-inline">
    <div class="input-group">
        <span class="input-group-btn">
            <button class="btn btn-default" ng-click="prev()" ng-disabled="pagination.first">
                <i class="fa fa-chevron-left"></i>
            </button>
        </span>
        <ui-select ng-model="pagination.current" skip-focusser="true" on-select="page(pagination.current)">
            <ui-select-match>
                <span ng-bind="$select.selected"></span>
            </ui-select-match>
            <ui-select-choices repeat="page in pagination.options | filter: $select.search">
                <span ng-bind="page"></span>
            </ui-select-choices>
        </ui-select>
        <span class="input-group-btn">
            <button class="btn btn-default" ng-click="next()" ng-disabled="pagination.last">
                <i class="fa fa-chevron-right"></i>
            </button>
        </span>
    </div>
    <span class="text">
        Seite {{pagination.current}} von {{pagination.total}}
    </span>
</div>
