<div class="container-fluid animate-main-content" init>
    <div class="row">
        <div class="col-md-12">
            <div class="card-content">
                <div class="card-content-header">
                    Einstellungen
                </div>
                <div class="card-content-body" cols="6" form>
                    <legend>Authentifizierung</legend>
                    <div name="'Youtube API Key'" key="'youtubeApiKey'" form-element>
                        <input type="text" class="form-control" ng-model="config.youtubeApiKey">
                    </div>
                    <div name="'Github API OAuth Token'" key="'githubApiOAuthToken'" form-element>
                        <input type="text" class="form-control" ng-model="config.githubApiOAuthToken">
                    </div>
                    <legend>Daten</legend>
                    <div name="'Github Basis URL'" key="'githubBaseUrl'" form-element>
                        <input type="text" class="form-control" ng-model="config.githubBaseUrl">
                    </div>
                    <div name="'Github Repository'" key="'githubRepository'" form-element>
                        <input type="text" class="form-control" ng-model="config.githubRepository">
                    </div>
                    <div name="'Github Branch'" key="'githubBranch'" form-element>
                        <input type="text" class="form-control" ng-model="config.githubBranch">
                    </div>
                    <div name="'Video Daten'" key="'videosPath'" form-element>
                        <input type="text" class="form-control" ng-model="config.videosPath">
                    </div>
                    <div name="'Live Daten'" key="'livePath'" form-element>
                        <input type="text" class="form-control" ng-model="config.livePath">
                    </div>
                    <div form-element>
                        <button class="btn btn-primary" ng-click="reset()">
                            <i class="fa fa-undo"></i> Zurücksetzten
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
