<div class="form-inline">
    <div class="form-group">
        <div align="'right'" table-pagination="tableParams"></div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <ui-select ng-model="tableOptions.display.count" skip-focusser="true" search-enabled="false">
                <ui-select-match>
                    <span ng-bind="$select.selected"></span>
                </ui-select-match>
                <ui-select-choices repeat="count in displayCountOptions">
                    <span ng-bind="count"></span>
                </ui-select-choices>
            </ui-select>
            <span class="input-group-btn" ng-model="tableOptions.display.view" bs-radio-group>
                <label class="btn btn-default" data-title="{{view.name}}" ng-repeat="view in views" bs-tooltip>
                    <input type="radio" class="btn btn-default" value="{{view.id}}">
                    <i class="fa {{view.icon}}"></i>
                </label>
            </span>
        </div>
    </div>
    <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Suche" ng-model="tableOptions.filter">
        <i class="fa fa-search form-control-feedback"></i>
    </div>
</div>
