<div>
    <div class="card-content">
        <div class="card-content-header">
            <div class="row">
                <div class="col-md-6">
                    <div class="videos-display">
                        Zeige {{tableParams.total()}} von {{videos.length}} Videos
                        <span ng-if="tableParams.total() !== videos.length">({{videos.length - tableParams.total()}} Videos ausgeblendet)</span>
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <button type="button" class="btn btn-default" ng-click="tableOptionsHidden=!tableOptionsHidden">
                        <i class="fa fa-sliders"></i> Optionen
                    </button>
                </div>
            </div>
        </div>
        <div class="card-content-body" ng-model="tableOptionsHidden" bs-collapse bs-collapse-target>
            <div videos-options="tableOptions" videos-table="tableParams"></div>
        </div>
    </div>
    <div ng-if="tableParams.visible">
        <div ng-include="'app/common/videos-view/videos-view-list.html'" ng-if="tableOptions.display.view === 'list'"></div>
        <div ng-include="'app/common/videos-view/videos-view-card.html'" ng-if="tableOptions.display.view === 'card'"></div>
    </div>
</div>
