<div class="card-content">
    <div class="card-content-body">
        <div class="table-container">
            <table class="table list" ng-table="tableParams">
                <tr class="middle link" ng-repeat="videos in $data" ng-click="details(videos)">
                    <td width="1">
                        <img img-src="{{videos.image}}" img-fallback="{{imagePlaceholders.video}}" img-loading="{{imagePlaceholders.video}}">
                    </td>
                    <td width="200" title="'Titel'" sortable="'title'">
                        {{videos.title}}
                    </td>
                    <td width="1" title="'Kanal ID'" sortable="'videosId'">
                        {{videos.videosId}}
                    </td>
                    <td width="1" title="'Video Playlist ID'" sortable="'playlistId'">
                        {{videos.playlistId}}
                    </td>
                    <td width="1">
                        <button class="btn btn-danger" type="button" ng-click="delete(videos)" uib-tooltip="Löschen">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div table-pagination="tableParams"></div>
    </div>
</div>
