<div class="card-content">
    <div class="card-content-body">
        <div class="table-container">
            <table class="table list" ng-table="tableParams">
                <tr class="middle link" ng-repeat="video in $data" ng-click="details(video)">
                    <td title="'Titel'" sortable="'title'">
                        <a ng-href="https://youtube.com/watch?v={{video.id}}" target="_blank">{{video.title}}</a>
                    </td>
                    <td width="140" title="'Kanal'" sortable="'channel'">
                        {{(video.channel | videosResolve:'channels').title}}
                    </td>
                    <td width="100" title="'Laufzeit'" sortable="'duration'">
                        {{getDuration(video)}}
                    </td>
                    <td width="100" title="'Veröffentlichung'" sortable="'published'">
                        {{video.published * 1000 | date:'dd.MM.yyyy'}}
                    </td>
                    <td width="100" title="'Ausstrahlung'" sortable="'aired'">
                        {{video.aired && (video.aired * 1000 | date:'dd.MM.yyyy')}}
                    </td>
                    <td width="80" title="'Aufrufe'" sortable="'stats.viewCount'">
                        {{video.stats.viewCount}}
                    </td>
                    <td width="85" title="'P. Bew.'" sortable="'stats.likeCount'">
                        {{video.stats.likeCount}}
                    </td>
                    <td width="85" title="'N. Bew.'" sortable="'stats.dislikeCount'">
                        {{video.stats.dislikeCount}}
                    </td>
                </tr>
            </table>
        </div>
        <div table-pagination="tableParams"></div>
    </div>
</div>
