<div>
    <table class="table cards" ng-table="tableParams">
        <tr ng-repeat="video in $data track by video.id">
            <td class="hide"></td>
        </tr>
        <td class="container-fluid">
            <div class="row">
                <div ng-repeat="video in $data track by video.id" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card-image">
                        <!-- card header -->
                        <div class="card-image-header card-image-header-lg">
                            <!-- image -->
                            <div class="image">
                                <a ng-href="https://youtube.com/watch?v={{video.id}}" target="_blank">
                                    <img class="img" img-src="https://i1.ytimg.com/vi/{{video.id}}/mqdefault.jpg" img-fallback="{{imagePlaceholders.video}}" img-loading="{{imagePlaceholders.video}}">
                                </a>
                            </div>
                            <!-- hosts -->
                            <div class="hosts">
                                <span ng-repeat="host in video.hosts | videosResolve:'hosts' | orderBy">
                                    <a ng-href="#/editor/hosts/{{host.id}}" uib-tooltip="{{host.firstname}} {{host.lastname}}" tooltip-class="badge-zoom-tooltip" tooltip-is-open="tooltipVisible" touch-tooltip="tooltipVisible" ng-class="{'badge-zoom': tooltipVisible}">
                                        <img class="badge-round badge-md" img-src="{{host.image}}" img-fallback="{{imagePlaceholders.host}}" img-loading="{{imagePlaceholders.host}}">
                                    </a>
                                </span>
                            </div>
                            <!-- shows -->
                            <div class="shows">
                                <span ng-repeat="show in video.shows | videosResolve:'shows' | orderBy">
                                    <a ng-href="#/editor/shows/{{show.id}}" uib-tooltip="{{show.name}}" tooltip-class="badge-zoom-tooltip" tooltip-is-open="tooltipVisible" touch-tooltip="tooltipVisible" ng-class="{'badge-zoom': tooltipVisible}">
                                        <img class="badge-round badge-md" img-src="{{show.image}}" img-fallback="{{imagePlaceholders.show}}" img-loading="{{imagePlaceholders.show}}">
                                    </a>
                                </span>
                            </div>
                            <!-- series -->
                            <div class="series">
                                <span ng-repeat="series in video.series | videosResolve:'series' | orderBy">
                                    <a ng-href="#/editor/series/{{series.id}}" uib-tooltip="{{series.name}}" tooltip-class="badge-zoom-tooltip" tooltip-is-open="tooltipVisible" touch-tooltip="tooltipVisible" ng-class="{'badge-zoom': tooltipVisible}">
                                        <img class="badge-round badge-md" img-src="{{series.image}}" img-fallback="{{imagePlaceholders.series}}" img-loading="{{imagePlaceholders.series}}">
                                    </a>
                                </span>
                            </div>
                            <!-- duration -->
                            <div class="duration">
                                {{getDuration(video)}}
                            </div>
                            <!-- rating -->
                            <div class="rating" uib-tooltip="{{getRatingPercent(video)}}%">
                                <div class="bar" style="width: {{getRatingPercent(video)}}%"></div>
                            </div>
                        </div>
                        <!-- card body -->
                        <div class="card-image-body card-image-body-xs">
                            <!-- stats -->
                            <div class="stats">
                                <div uib-tooltip="Views">
                                    <i class="fa fa-eye"></i> {{video.stats.viewCount | number}}
                                </div>
                                <div uib-tooltip="Kommentare">
                                    <i class="fa fa-comments"></i> {{video.stats.commentCount | number}}
                                </div>
                                <div uib-tooltip="Positive Bewertungen">
                                    <i class="fa fa-thumbs-up"></i> {{video.stats.likeCount | number}}
                                </div>
                                <div uib-tooltip="Negative Bewertungen">
                                    <i class="fa fa-thumbs-down"></i> {{video.stats.dislikeCount | number}}
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <!-- title -->
                            <div class="title">
                                <a ng-href="https://youtube.com/watch?v={{video.id}}" target="_blank">
                                    {{video.title}}
                                </a>
                            </div>
                        </div>
                        <!-- card footer -->
                        <div class="card-image-footer">
                            <table>
                                <tr>
                                    <td width="1"></td>
                                </tr>
                                <tr>
                                    <td class="dates text-right">
                                        <!-- dates -->
                                        <span uib-tooltip="Veröffentlichung" ng-show="video.published">
                                            <i class="fa fa-upload"></i> {{video.published * 1000 | date:'dd.MM.yy'}}
                                        </span>
                                        <span uib-tooltip="Ausstrahlung" tooltip-is-open="tooltipVisible" ng-if="video.aired">
                                            <i class="fa fa-calendar"></i>
                                            <a ng-href="#/live?from={{getLiveFrom(video)}}&to={{getLiveTo(video)}}" touch-tooltip="tooltipVisible">
                                                {{video.aired * 1000 | date:'dd.MM.yyyy'}}
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </table>
    <div table-pagination="tableParams"></div>
</div>
