<div>
    <div class="card-content">
        <div class="card-content-header">
            <div class="row">
                <div class="col-md-6">
                    <div class="videos-display">
                        Zeige {{table.params.total()}} von {{videos.length}} Videos
                        <span ng-if="table.params.total() !== videos.length">({{videos.length - table.params.total()}} Videos ausgeblendet)</span>
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <button type="button" class="btn btn-default" ng-click="table.optionsHidden=!table.optionsHidden">
                        <i class="fa fa-sliders"></i> Optionen
                    </button>
                </div>
            </div>
        </div>
        <div class="card-content-body" ng-model="table.optionsHidden" bs-collapse bs-collapse-target>
            <div videos-options="table.options" videos-table="table.params"></div>
        </div>
    </div>
    <div ng-if="!table.tableHidden">
        <div ng-include="'app/common/videos-view/videos-view-list.html'" ng-if="table.options.display.view === 'list'"></div>
        <div ng-if="table.options.display.view === 'card'">
            <div>
                <div ng-include="'app/common/videos-view/videos-view-card-edit.html'" ng-if="mode === 'edit'"></div>
                <div ng-include="'app/common/videos-view/videos-view-card-view.html'" ng-if="mode === 'view'"></div>
            </div>
        </div>
    </div>
</div>
