<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>

<body ng-app="rbtvstatsApp" ng-cloak>
    <div class="container-fluid content" ng-controller="VideosCtrl">
        <div class="row">
            <div class="col-lg-3" ng-hide="config.fullscreen">
                <!-- Config -->
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Config</strong></div>
                    <div class="panel-body">
                        <fieldset class="form-group">
                            <label for="youtubeApiKey">Youtube API key</label>
                            <input id="youtubeApiKey" type="text" class="form-control" ng-model="config.youtubeApiKey">
                        </fieldset>
                        <fieldset class="form-group">
                            <label>Hosts</label>
                            <div class="">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="filterHost">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" ng-click="config.hosts.push(filterHost)"><i class="fa fa-plus"></i></button>
                                    </span>
                                </div>
                                <ul class="list-group scrollable-list">
                                    <button type="button" class="list-group-item" ng-click="config.hosts.splice(config.hosts.indexOf(host), 1)" ng-repeat="host in (config.hosts | filter:filterHost | orderBy) track by $index">{{host}}</button>
                                </ul>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <label>Shows</label>
                            <div class="">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="filterShow">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" ng-click="config.shows.push(filterShow)"><i class="fa fa-plus"></i></button>
                                    </span>
                                </div>
                                <ul class="list-group scrollable-list">
                                    <button type="button" class="list-group-item" ng-click="config.shows.splice(config.shows.indexOf(show), 1)" ng-repeat="show in (config.shows | filter:filterShow | orderBy) track by $index">{{show}}</button>
                                </ul>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <!-- Data -->
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Data</strong></div>
                    <div class="panel-body">
                        <textarea rows="15" class="form-control" ng-model="data"></textarea>
                        <div style="margin-top: 5px;">
                            <button type="button" class="btn btn-default" ng-click="importData()">Import</button>
                            <button type="button" class="btn btn-default" ng-click="exportData()">Export</button>
                            <i ng-show="upload" class="fa fa-spinner fa-pulse fa-lg fa-fw"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-class="{'col-lg-9': !config.fullscreen, 'col-lg-12': config.fullscreen}">
                <!-- Videos -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Videos</strong>
                        <button type="button" class="btn btn-default btn-xs pull-right" ng-click="config.fullscreen=!config.fullscreen">
                            <i class="fa" ng-class="{'fa-plus': !config.fullscreen, 'fa-minus': config.fullscreen}"></i>
                        </button>
                    </div>
                    <div class="panel-body">
                        <div class="form-inline">
                            <label class="radio-inline" ng-repeat="channel in config.channels">
                                <input type="radio" name="channel" ng-value="channel" ng-model="$parent.selectedChannel" ng-disabled="loading" ng-change="updateChannel()"> {{channel}}
                                <a href="https://www.youtube.com/user/{{channel}}/videos" target="_blank"><i class="fa fa-external-link"></i></a>
                            </label>
                            <button type="button" class="btn btn-default" ng-disabled="loading" ng-click="loadNext()">Load Next</button>
                            <button type="button" class="btn btn-default" ng-disabled="loading" ng-click="loadUntil(2015, 3, 3)">Load until 03.03.2015</button>
                            <button uib-tooltip="Show only videos without host" class="btn btn-default ignore" type="button" ng-click="filterNoHostVideos=!filterNoHostVideos"><i class="fa" ng-class="{'fa-eye-slash': !filterNoHostVideos, 'fa-eye': filterNoHostVideos}"></i></button>
                            <button uib-tooltip="Show only videos without show" class="btn btn-default ignore" type="button" ng-click="filterNoShowVideos=!filterNoShowVideos"><i class="fa" ng-class="{'fa-eye-slash': !filterNoShowVideos, 'fa-eye': filterNoShowVideos}"></i></button>
                            <button uib-tooltip="Show only ignored videos" class="btn btn-default ignore" type="button" ng-click="filterIgnoredVideos=!filterIgnoredVideos"><i class="fa" ng-class="{'fa-eye-slash': !filterIgnoredVideos, 'fa-eye': filterIgnoredVideos}"></i></button>
                            <button uib-tooltip="Fix Stats" class="btn btn-default" type="button" ng-click="fixStats()"><i class="fa fa-asterisk"></i></button>
                            <input type="text" class="form-control" style="width: 50px;" ng-model="pageSize">
                            <input type="text" placeholder="Filter" class="form-control" style="width: 300px;" ng-model="search">
                            <i ng-show="loading" class="fa fa-spinner fa-pulse fa-lg fa-fw"></i>
                        </div>
                        <div class="videos">
                            <div class="video" dir-paginate="video in videos[selectedChannel] | filter:search | ignore:filterIgnoredVideos | noHost:filterNoHostVideos:lastEdited | noShow:filterNoShowVideos:lastEdited | orderBy:'snippet.publishedAt':true | itemsPerPage: pageSize" ng-class="{'highlight': (!video.snippet.metadata.hosts.length || !video.snippet.metadata.shows.length) && !video.snippet.metadata.ignore}">
                                <span class="published">{{video.snippet.publishedAt | date}}</span>
                                <span class="duration">{{video.snippet.duration | duration}}</span>
                                <div style="margin-bottom: 2px;" class="hosts">
                                    <div class="selection">
                                        <ui-select ng-model="selectedHost" on-select="addHost(video, $select.selected)">
                                            <ui-select-match placeholder="Hosts...">
                                                Hosts...
                                            </ui-select-match>
                                            <ui-select-choices repeat="item in (config.hosts | filter: $select.search | orderBy)">
                                                <span ng-bind="item"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                        <ui-select ng-model="selectedShow" on-select="addShow(video, $select.selected)">
                                            <ui-select-match placeholder="Shows...">
                                                Shows...
                                            </ui-select-match>
                                            <ui-select-choices repeat="item in (config.shows | filter: $select.search | orderBy) track by $index">
                                                <span ng-bind="item"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="line">
                                        <button class="btn btn-default btn-xs" type="button" uib-tooltip="Extract Hosts" ng-click="autoHosts(video)">
                                            <i class="fa fa-magic"></i>
                                        </button>
                                        <strong>Hosts:</strong>
                                        <span ng-repeat="host in video.snippet.metadata.hosts"><span ng-if="$index > 0">, </span><a href="javascript:void(0);" ng-click="removeHost(video, host)">{{host || 'ERROR'}}</a></span>
                                    </div>
                                    <div class="line">
                                        <button class="btn btn-default btn-xs" type="button" uib-tooltip="Extract Show" ng-click="autoShows(video)">
                                            <i class="fa fa-magic"></i>
                                        </button>
                                        <strong>Shows:</strong>
                                        <span ng-repeat="show in video.snippet.metadata.shows"><span ng-if="$index > 0">, </span><a href="javascript:void(0);" ng-click="removeShow(video, show)">{{show || 'ERROR'}}</a></span>
                                    </div>
                                </div>
                                <div class="tumbnail">
                                    <button class="btn btn-default btn-xs ignore" type="button" uib-tooltip="Ignore" ng-click="toggleIgnore(video)"><i class="fa" ng-class="{'fa-eye-slash': !video.snippet.metadata.ignore, 'fa-eye': video.snippet.metadata.ignore}"></i></button>
                                    <div class="lastEdited">
                                        <button class="btn btn-default btn-xs" type="button" uib-tooltip="Copy" ng-click="$parent.lastEdited = video">
                                            <i class="fa fa-copy"></i>
                                        </button>
                                        <button class="btn btn-default btn-xs" type="button" uib-tooltip="Paste" ng-click="paste(video)" ng-if="lastEdited.snippet.metadata">
                                            <i class="fa fa-paste"></i>
                                        </button>
                                    </div>
                                    <button class="btn btn-default btn-xs info" type="button" uib-tooltip="Info" ng-click="showVideoInfo(video)">
                                        <i class="fa fa-info"></i>
                                    </button>
                                    <a href="https://www.youtube.com/watch?v={{video.snippet.resourceId.videoId}}" target="_blank">
                                        <img src="{{video.snippet.thumbnails.medium.url}}" ng-class="{'fadeOut': video.snippet.metadata.ignore}">
                                    </a>
                                </div>
                                <div class="title">
                                    <a href="https://www.youtube.com/watch?v={{video.snippet.resourceId.videoId}}" target="_blank">{{video.snippet.title}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="clear float">
                            <dir-pagination-controls></dir-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer content">
        <a href="javascript:window.scrollTo(0,0)" class="pull-right">Top</a>
    </footer>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-ui-select/dist/select.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angularUtils-pagination/dirPagination.js"></script>
    <script src="bower_components/file-saver/FileSaver.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/filters/duration.js"></script>
    <script src="scripts/filters/nohost.js"></script>
    <script src="scripts/filters/noshow.js"></script>
    <script src="scripts/filters/ignore.js"></script>
    <script src="scripts/services/videos.js"></script>
    <script src="scripts/controllers/videos.js"></script>
    <script src="scripts/services/storage.js"></script>
    <!-- endbuild -->
</body>

</html>
