<div class="container-fluid" ng-controller="ChannelsOneCtrl">
    <div class="row">
        <div class="col-md-12 text-right">
            <div class="card-content">
                <div class="card-content-header">
                    <button class="btn btn-default btn-circle" type="button" ng-class="valid ? 'btn-success': 'btn-danger'" uib-tooltip="Schema Validation">
                        <i class="fa fa-fw" ng-class="valid ? 'fa-check': 'fa-times'"></i>
                    </button>
                    <button class="btn btn-danger" type="button" ng-click="delete(channel)">
                        <i class="fa fa-trash"></i> Löschen
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card-content">
                <div class="card-content-header">
                    Kanal
                </div>
                <div class="card-content-body">
                    <div class="form-horizontal">
                        <!-- id -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="id">Primärschlüssel<span class="key-name">id</span></label>
                            <div class="col-md-8">
                                <div class="input-group" ng-init="lockedId=true">
                                    <input id="id" name="id" type="text" class="form-control input-md" ng-model="channel.id" ng-disabled="lockedId">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" ng-click="lockedId=!lockedId">
                                            <i class="fa fa-fw" ng-class="{'fa-lock': lockedId, 'fa-unlock-alt': !lockedId}"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- username -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="username">Benutzername<span class="key-name">username</span></label>
                            <div class="col-md-8">
                                <div class="input-group" ng-init="lockedId=true">
                                    <input id="username" name="username" type="text" class="form-control input-md" ng-model="channel.username">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" ng-click="updateMetadata(channel, {username: channel.username})">
                                            <i class="fa fa-fw fa-refresh" ng-class="{ 'fa-spin': loadingMetadata }"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- channelId -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="channelId">Kanal ID<span class="key-name">channelId</span></label>
                            <div class="col-md-8">
                                <div class="input-group" ng-init="lockedId=true">
                                    <input id="channelId" name="channelId" type="text" class="form-control input-md" ng-model="channel.channelId">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" ng-click="updateMetadata(channel, {id: channel.channelId})">
                                            <i class="fa fa-fw fa-refresh" ng-class="{ 'fa-spin': loadingMetadata }"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- playlistId -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="playlistId">Video Playlist ID<span class="key-name">playlistId</span></label>
                            <div class="col-md-8">
                                <input id="playlistId" name="playlistId" type="text" class="form-control input-md" ng-model="channel.playlistId">
                            </div>
                        </div>
                        <!-- title -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="title">Titel<span class="key-name">title</span></label>
                            <div class="col-md-8">
                                <input id="title" name="title" type="text" class="form-control input-md" ng-model="channel.title">
                            </div>
                        </div>
                        <!-- description -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="description">Beschreibung<span class="key-name">description</span></label>
                            <div class="col-md-8">
                                <textarea id="description" name="description" type="text" rows="5" class="form-control input-md" ng-model="channel.description"></textarea>
                            </div>
                        </div>
                        <!-- image -->
                        <div img-input="channel.image"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div json-editor="channel"></div>
        </div>
    </div>
</div>
