<div class="content max-width">
    <div class="stats panel panel-default" ng-repeat="(channel, stats) in model.stats">
        <div class="panel-heading"><strong>{{channel}} Statistiken</strong></div>
        <div class="panel-body">
            <table>
                <tr>
                    <td width="250">Anzahl Videos</td>
                    <td>{{stats.totalVideos}}</td>
                </tr>
                <tr>
                    <td>Ø Views pro Video</td>
                    <td>{{stats.averageViews}}</td>
                </tr>
                <tr>
                    <td>Ø Videolänge</td>
                    <td>{{stats.averageLength | duration}}</td>
                </tr>
                <tr>
                    <td>Ø Videos pro Tag</td>
                    <td>{{stats.averageVideos}}</td>
                </tr>
                <tr>
                    <td>Top {{stats.topVideos.length}} meiste Views</td>
                    <td>
                        <div ng-repeat="video in stats.topVideos track by $index">
                            <label>{{$index + 1}}. {{cohost.host}}</label>
                            <a href="https://www.youtube.com/watch?v={{video.id}}" target="_blank">{{video.title}}</a>
                            <span class="info"> • {{video.stats.viewCount}} Views</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Meiste positive Bewertungen</td>
                    <td>
                        <a href="https://www.youtube.com/watch?v={{stats.mostLikes.id}}" target="_blank">{{stats.mostLikes.title}}</a>
                        <span class="info"> • {{stats.mostLikes.stats.likeCount}} Bewertungen</span>
                    </td>
                </tr>
                <tr>
                    <td>Meiste negative Bewertungen</td>
                    <td>
                        <a href="https://www.youtube.com/watch?v={{stats.mostDislikes.id}}" target="_blank">{{stats.mostDislikes.title}}</a>
                        <span class="info"> • {{stats.mostDislikes.stats.dislikeCount}} Bewertungen</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="chart panel panel-default" ng-repeat="chart in model.charts">
        <div class="panel-heading"><strong>{{chart.options.header}}</strong></div>
        <div class="panel-body" style="width:{{chart.options.width}}; height: {{chart.options.height}}">
            <canvas id="chart" class="chart-base" chart-type="chart.options.type" chart-options="chart.options" chart-data="chart.data" chart-labels="chart.labels" chart-series="chart.series"></canvas>
        </div>
    </div>
</div>
