<div class="content max-width">
    <div class="select">
        <ui-select ng-if="hosts.length" ng-model="model.host.selected">
            <ui-select-match placeholder="Auswählen..">
                <span ng-bind="$select.selected"></span>
            </ui-select-match>
            <ui-select-choices repeat="item in (hosts | filter: $select.search | orderBy)">
                <span ng-bind="item"></span>
            </ui-select-choices>
        </ui-select>
    </div>
    <div ng-if="model.host.selected">
        <div class="stats panel panel-default" ng-if="model.stats.length">
            <div class="panel-heading"><strong>Statistiken</strong></div>
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row" ng-init="value=stat.value" ng-repeat="stat in model.stats">
                        <div class="col-md-3"><strong>{{stat.title}}</strong></div>
                        <div class="col-md-9">
                            <div stat="stat.value"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="chart panel panel-default" ng-repeat="chart in model.charts">
            <div class="panel-heading"><strong>{{chart.options.header}}</strong></div>
            <div class="panel-body" style="width:{{chart.options.width}}; height: {{chart.options.height}}">
                <canvas id="chart" class="chart-base" chart-type="chart.options.type" chart-options="chart.options" chart-data="chart.data" chart-labels="chart.labels" chart-series="chart.series"></canvas>
            </div>
        </div>
        <div class="panel panel-default" ng-if="model.filteredVideos.length">
            <div class="panel-heading"><strong>Videos</strong></div>
            <div class="panel-body container-table">
                <table class="table table-striped" ng-table="model.videosTable" show-filter="true">
                    <tr ng-repeat="video in $data">
                        <td title="'Titel'" filter="{ title: 'text'}" data-sortable="'title'"><a target="_blank" href="https://www.youtube.com/watch?v={{video.id}}">{{video.title}}</a></td>
                        <td width="180" filter="{ hosts: 'text'}" title="'Personen'" data-sortable="'hosts'">
                            <span ng-repeat="host in video.hosts">
                                <a ng-href="#/hosts?{{host}}" ng-click="scrollTop()">{{host}}</a><span ng-if="$index < video.hosts.length - 1">,</span>
                            </span>
                        </td>
                        <td width="200" title="'Kanal'" data-sortable="'channel'">{{video.channel}}</td>
                        <td width="80" title="'Laufzeit'" data-sortable="'length'">{{video.length | duration}}</td>
                        <td width="80" title="'Datum'" data-sortable="'published'">{{video.published | createDate | date:"dd.MM.yyyy"}}</td>
                        <td width="80" title="'Views'" data-sortable="'stats.viewCount'">{{video.stats.viewCount}}</td>
                        <td width="80" title="'Likes'" data-sortable="'stats.likeCount'">{{video.stats.likeCount}}</td>
                        <td width="80" title="'Dislikes'" data-sortable="'stats.dislikeCount'">{{video.stats.dislikeCount}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
