<div ng-switch="getType(value)">
    <!-- value: array -->
    <div class="array" ng-switch-when="array">
        <div ng-repeat="value in value">
            <div>
                <strong>{{$index + 1}}.</strong>
            </div>
            <div>
                <div stat="value"></div>
            </div>
        </div>
    </div>
    <!-- value: atomic -->
    <div ng-switch-default>
        <div ng-switch="value.type">
            <!-- type: url -->
            <div ng-switch-when="url">
                <a href="{{value.url}}" target="_blank">{{value.text}}</a>
                <span class="info" ng-if="value.info"> • {{value.info}}</span>
            </div>
            <!-- type: duration -->
            <div ng-switch-when="duration">
                <span ng-if="!value.url">{{value.text | duration}}</span>
                <span class="info" ng-if="value.info"> • {{value.info}}</span>
            </div>
            <!-- type: default -->
            <div ng-switch-default>
                {{value.text}}
                <span class="info" ng-if="value.info"> • {{value.info}}</span>
            </div>
        </div>
    </div>
</div>
