<div class="content max-width">
    <table class="table table-striped" ng-table="model.videosTable" show-filter="true">
        <tr ng-repeat="video in $data">
            <td title="'Titel'" filter="{ title: 'text'}" sortable="'title'"><a target="_blank" href="https://www.youtube.com/watch?v={{video.id}}">{{video.title}}</a></td>
            <td width="180" filter="{ hosts: 'text'}" title="'Personen'" sortable="'hosts'">{{toList(video.hosts)}}</td>
            <td width="200" title="'Kanal'" sortable="'channel'">{{video.channel}}</td>
            <td width="80" title="'Laufzeit'" sortable="'length'">{{video.length | duration}}</td>
            <td width="80" title="'Datum'" sortable="'published'">{{video.published | createDate | date:"dd.MM.yyyy"}}</td>
            <td width="80" title="'Views'" sortable="'stats.viewCount'">{{video.stats.viewCount}}</td>
            <td width="80" title="'Likes'" sortable="'stats.likeCount'">{{video.stats.likeCount}}</td>
            <td width="80" title="'Dislikes'" sortable="'stats.dislikeCount'">{{video.stats.dislikeCount}}</td>
        </tr>
    </table>
</div>
