<div class="content max-width fade-animate" ng-if="initFinished">
    <div class="stats panel panel-default fade-animate" ng-repeat="(channel, stats) in model.stats">
        <div class="panel-heading"><strong>{{channel}} Statistiken</strong></div>
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row" ng-repeat="stat in stats">
                    <div class="col-md-3"><strong>{{stat.title}}</strong></div>
                    <div class="col-md-9">
                        <div stat="stat.value"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="chart panel panel-default fade-animate" ng-repeat="chart in model.charts">
        <div class="panel-heading"><strong>{{chart.options.header}}</strong></div>
        <div class="panel-body" style="width:{{chart.options.width}}; height: {{chart.options.height}}">
            <canvas class="chart-base" chart-type="chart.options.type" chart-options="chart.options" chart-data="chart.data" chart-labels="chart.labels" chart-series="chart.series"></canvas>
        </div>
    </div>
</div>
