<div class="content max-width fade-animate" ng-if="initFinished">
    <div class="select">
        <div class="select-heading container-fluid" ng-if="hosts.length">
            <div class="row">
                <div class="col-md-3 form-group">
                    <label>Moderator</label>
                    <div class="select-large">
                        <ui-select ng-model="host.selected" skip-focusser="true">
                            <ui-select-match placeholder="Auswählen..">
                                <img class="badge-round badge-md" src="images/hosts/{{host.selected | imgName}}.jpg" img-src="images/hosts/{{host.selected | imgName}}.jpg" img-loading="{{imagePlaceholders.host}}" img-fallback="{{imagePlaceholders.host}}">
                                <span ng-bind="host.selected"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="host in (hosts | filter: $select.search | orderBy)">
                                <img class="badge-round badge-md" img-src="images/hosts/{{host | imgName}}.jpg" img-loading="{{imagePlaceholders.host}}" img-fallback="{{imagePlaceholders.host}}">
                                <span ng-bind="host"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </div>
        <div class="select-body">
            <div class="select-content fade-animate" animate-change="model.host" ng-if="model.host == host.selected">
                <div class="stats panel panel-default" ng-if="model.stats.length">
                    <div class="panel-heading"><strong>Statistiken</strong></div>
                    <div class="panel-body">
                        <div class="container-fluid">
                            <div class="row" ng-repeat="stat in model.stats">
                                <div class="col-md-3"><strong>{{stat.title}}</strong></div>
                                <div class="col-md-9">
                                    <div stat="stat.value"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chart panel panel-default" ng-repeat="chart in model.charts">
                    <div class="panel-heading"><strong>{{chart.options.header}}</strong></div>
                    <div class="panel-body">
                        <div class="scroll-wrapper">
                            <div class="scroll-container" style="height: {{chart.options.height}}">
                                <canvas class="chart-base" chart-type="chart.options.type" chart-options="chart.options" chart-data="chart.data" chart-labels="chart.labels" chart-series="chart.series"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div params="model.tableParams" videos="model.videos" ng-if="model.videos.length"></div>
            </div>
        </div>
    </div>
</div>
