<div class="content max-width">
    <div class="chart panel panel-default" ng-if="model.dataLatest">
        <div class="panel-heading"><strong>{{model.chart.options.header}}</strong></div>
        <div class="panel-body" style="width:{{model.chart.options.width}}; height: {{model.chart.options.height}}">
            <div class="live-header">
                <a href="javascript:void(0);" date-range-picker class="date-picker" options="model.dateRangeOptions" ng-model="model.dateRange">
                <i class="fa fa-clock-o"></i> {{model.dateRange.startDate | amDateFormat:'DD. MMMM YYYY HH:mm'}} — {{model.dateRange.endDate | amDateFormat:'DD. MMMM YYYY HH:mm'}} <i class="fa fa-clock-o"></i>
                </a>
            </div>
            <canvas class="chart-base live-chart" chart-type="model.chart.options.type" chart-options="model.chart.options" chart-data="model.chart.data" chart-labels="model.chart.labels" chart-series="model.chart.series"></canvas>
        </div>
    </div>
    <div class="stats panel panel-default" ng-if="model.stats.length">
        <div class="panel-heading"><strong>Statistiken</strong></div>
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row" ng-init="value=stat.value" ng-repeat="stat in model.stats">
                    <div class="col-md-3"><strong>{{stat.title}}</strong></div>
                    <div class="col-md-9">
                        <div stat="stat.value"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
