<div class="content max-width">
    <div class="chart panel panel-default">
        <div class="panel-heading"><strong>Live Views</strong></div>
        <div class="panel-body" style="width:{{model.chart.options.width}}; height: 500px">
            <div class="live-header">
                <a href="javascript:void(0);" date-range-picker class="date-picker" options="model.dateRangeOptions" ng-model="dateRange">
                    {{dateRange.startDate | amDateFormat:'DD. MMMM YYYY HH:mm'}} — {{dateRange.endDate | amDateFormat:'DD. MMMM YYYY HH:mm'}}
                </a>
                <table>
                    <tr>
                        <td class="text-left">
                            <button type="button" class="btn btn-primary btn-xs" ng-click="changeDate(-1, 'M')"><i class="fa fa-chevron-left"></i> 1M</button>
                            <button type="button" class="btn btn-primary btn-xs" ng-click="changeDate(-1, 'w')"><i class="fa fa-chevron-left"></i> 1W</button>
                            <button type="button" class="btn btn-primary btn-xs" ng-click="changeDate(-1, 'd')"><i class="fa fa-chevron-left"></i> 1T</button>
                        </td>
                        <td class="text-right">
                            <button type="button" class="btn btn-primary btn-xs" ng-click="changeDate(1, 'd')">1T <i class="fa fa-chevron-right"></i></button>
                            <button type="button" class="btn btn-primary btn-xs" ng-click="changeDate(1, 'w')">1W <i class="fa fa-chevron-right"></i></button>
                            <button type="button" class="btn btn-primary btn-xs" ng-click="changeDate(1, 'M')">1M <i class="fa fa-chevron-right"></i></button>
                        </td>
                    </tr>
                </table>
            </div>
            <canvas class="chart-base live-chart" chart-type="model.chart.options.type" chart-options="model.chart.options" chart-data="model.chart.data" chart-labels="model.chart.labels" chart-series="model.chart.series"></canvas>
            <div class="update-chart" ng-hide="!updateChartState">
                <i class="fa fa-refresh fa-spin fa-fw"></i>Lade Daten &amp; Aktualisiere Diagramm
            </div>
        </div>
    </div>
    <div class="stats panel panel-default">
        <div class="panel-heading"><strong>Statistiken</strong></div>
        <div class="panel-body">
            <div class="container-fluid" ng-hide="updateChartState">
                <div class="row" ng-init="value=stat.value" ng-repeat="stat in model.stats">
                    <div class="col-md-3"><strong>{{stat.title}}</strong></div>
                    <div class="col-md-9">
                        <div stat="stat.value"></div>
                    </div>
                </div>
            </div>
            <div class="update-chart" ng-hide="!updateChartState">
                <i class="fa fa-refresh fa-spin fa-fw"></i>Aktualisiere Statistiken
            </div>
        </div>
    </div>
</div>
