<div class="content max-width fade-animate" ng-if="initFinished">
    <div class="select">
        <div class="select-heading container-fluid" ng-if="shows.length">
            <div class="row">
                <div class="col-md-3 form-group">
                    <label>Format</label>
                    <div class="select-large">
                        <ui-select ng-model="show.selected" skip-focusser="true">
                            <ui-select-match placeholder="Auswählen..">
                                <img class="badge-round badge-md" src="images/shows/{{show.selected | imgName}}.jpg" img-src="images/shows/{{show.selected | imgName}}.jpg" img-fallback="{{imagePlaceholders.show}}" img-loading="{{imagePlaceholders.show}}">
                                <span ng-bind="show.selected"></span>
                            </ui-select-match>
                            <ui-select-choices group-by="listGroupShows" repeat="show in (shows | filter: $select.search | orderBy)">
                                <img class="badge-round badge-md" img-src="images/shows/{{show | imgName}}.jpg" img-fallback="{{imagePlaceholders.show}}" img-loading="{{imagePlaceholders.show}}">
                                <span ng-bind="show"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-md-3 form-group" ng-if="model.seriesList.length">
                    <label>Serie</label>
                    <div class="select-large">
                        <ui-select ng-model="series.selected" skip-focusser="true">
                            <ui-select-match allow-clear="true" placeholder="Auswählen..">
                                <span ng-bind="$select.selected"></span>
                            </ui-select-match>
                            <ui-select-choices group-by="listGroupShows" repeat="series in (model.seriesList | filter: $select.search | orderBy)">
                                <span ng-bind="series"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </div>
        <div class="select-body">
            <div class="select-content fade-animate" animate-change="model.show" ng-if="model.show == show.selected">
                <div class="stats panel panel-default" ng-if="model.stats.length">
                    <div class="panel-heading"><strong>Statistiken</strong></div>
                    <div class="panel-body">
                        <div class="container-fluid">
                            <div class="row" ng-repeat="stat in model.stats">
                                <div class="col-md-3"><strong>{{stat.title}}</strong></div>
                                <div class="col-md-9">
                                    <div stat="stat.value"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chart panel panel-default" ng-repeat="chart in model.charts">
                    <div class="panel-heading"><strong>{{chart.options.header}}</strong></div>
                    <div class="panel-body">
                        <div class="scroll-wrapper">
                            <div class="scroll-container" style="height: {{chart.options.height}}">
                                <canvas class="chart-base" chart-type="chart.options.type" chart-options="chart.options" chart-data="chart.data" chart-labels="chart.labels" chart-series="chart.series"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div params="model.tableParams" videos="model.videos" ng-if="model.videos.length"></div>
            </div>
        </div>
    </div>
</div>
