<table class="table" ng-table="tableParams">
    <tr class="hide" ng-repeat="video in $data">
        <td></td>
    </tr>
    <tr>
        <td class="container-fluid">
            <div class="row">
                <div ng-repeat="video in $data" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="video-card">
                        <div class="image">
                            <a target="_blank" href="https://www.youtube.com/watch?v={{video.id}}">
                                <img class="yt-thumbnail" img-src="https://i1.ytimg.com/vi/{{video.id}}/mqdefault.jpg" img-fallback="{{imagePlaceholders.video}}" img-loading="{{imagePlaceholders.video}}">
                            </a>
                            <div class="hosts" ng-if="video.hosts.length">
                                <span ng-repeat="host in video.hosts | orderBy">
                                <a uib-tooltip="{{host}}" tooltip-class="badge-zoom-tooltip" tooltip-is-open="tooltipVisible" tooltip-append-to-body="true" ng-href="#/hosts?host={{host}}" link-disable="tooltipVisible">
                                    <img class="badge-round badge-md badge-shadow" ng-class="{'badge-zoom': tooltipVisible}" img-src="images/hosts/{{host | imgName}}.jpg" img-fallback="{{imagePlaceholders.host}}" img-loading="{{imagePlaceholders.host}}">
                                </a>
                            </span>
                            </div>
                            <div class="shows" ng-if="video.shows.length">
                                <span ng-repeat="show in video.shows | orderBy">
                                <a uib-tooltip="{{show}}" tooltip-class="badge-zoom-tooltip" tooltip-is-open="tooltipVisible" tooltip-append-to-body="true" ng-href="#/shows?show={{show}}" link-disable="tooltipVisible">
                                    <img class="badge-round badge-md badge-shadow" ng-class="{'badge-zoom': tooltipVisible}" img-src="images/shows/{{show | imgName}}.jpg" img-fallback="{{imagePlaceholders.show}}" img-loading="{{imagePlaceholders.show}}">
                                </a>
                            </span>
                            </div>
                            <div class="duration">
                                {{video.length | duration}}
                            </div>
                            <div class="rating" ng-init="percent=getRatingPercent(video)">
                                <div class="bar" style="width: {{percent}}%" uib-tooltip="{{percent}}%" tooltip-append-to-body="true"></div>
                            </div>
                        </div>
                        <div class="stats">
                            <div class="float-left" uib-tooltip="Views" tooltip-append-to-body="true">
                                <i class="fa fa-eye"></i> {{video.stats.viewCount | number}}
                            </div>
                            <div class="float-left" uib-tooltip="Kommentare" tooltip-append-to-body="true">
                                <i class="fa fa-comments"></i> {{video.stats.commentCount | number}}
                            </div>
                            <div class="float-left" uib-tooltip="Positive Bewertungen" tooltip-append-to-body="true">
                                <i class="fa fa-thumbs-up"></i> {{video.stats.likeCount | number}}
                            </div>
                            <div class="float-left" uib-tooltip="Negative Bewertungen" tooltip-append-to-body="true">
                                <i class="fa fa-thumbs-down"></i> {{video.stats.dislikeCount | number}}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="title">
                            <a target="_blank" href="https://www.youtube.com/watch?v={{video.id}}">{{video.title}}</a>
                        </div>
                        <div class="dates">
                            <div class="float-left">
                                <a href="" uib-tooltip="Fehler melden" tooltip-is-open="tooltipVisible" tooltip-append-to-body="true" ng-click="tooltipVisible && openFlagDialog(video.id); tooltipVisible=false" ng-if="true">
                                    <i class="fa fa-flag"></i>
                                </a>
                            </div>
                            <div class="float-right" uib-tooltip="Veröffentlichung" tooltip-append-to-body="true">
                                <i class="fa fa-upload"></i> {{video.published | createDate | date:"dd.MM.yy"}}
                            </div>
                            <div class="float-right" uib-tooltip="Ausstrahlung" tooltip-is-open="tooltipVisible" tooltip-append-to-body="true" ng-if="video.aired">
                                <i class="fa fa-calendar"></i> <a ng-href="#/live?from={{getLiveFrom(video)}}&to={{getLiveTo(video)}}" link-disable="tooltipVisible">{{video.aired | createDate | date:"dd.MM.yyyy"}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>
