<div class="scroll-wrapper">
    <table class="table table-striped" ng-table="tableParams" show-filter="true">
        <tr ng-repeat="video in $data">
            <td width="20">
                <a href="" title="Fehler melden" ng-click="openFlagDialog(video.id)">
                    <i class="fa fa-flag"></i>
                </a>
            </td>
            <td>
                <a target="_blank" href="https://www.youtube.com/watch?v={{video.id}}">{{video.title}}</a>
            </td>
            <td width="140">
                <span ng-repeat="host in video.hosts | orderBy">
                <a ng-href="#/hosts?host={{host}}" ng-click="scrollTop()">{{host}}</a>
                <span ng-if="$index < video.hosts.length - 1">,</span>
                </span>
            </td>
            <td width="140">
                <span ng-repeat="show in video.shows | orderBy">
                <a ng-href="#/shows?show={{show | escape}}" ng-click="scrollTop()">{{show}}</a>
                <span ng-if="$index < video.shows.length - 1">,</span>
                </span>
            </td>
            <td width="140">
                {{video.channel}}
            </td>
            <td width="80">
                {{video.length | duration}}
            </td>
            <td width="80">
                {{video.published | createDate | date:"dd.MM.yyyy"}}
            </td>
            <td width="80">
                <a ng-href="#/live?from={{getLiveFrom(video)}}&to={{getLiveTo(video)}}">{{video.aired | createDate | date:"dd.MM.yyyy"}}</a>
            </td>
            <td width="60">
                {{video.stats.viewCount}}
            </td>
            <td width="60">
                {{video.stats.likeCount}}
            </td>
            <td width="60">
                {{video.stats.dislikeCount}}
            </td>
        </tr>
    </table>
</div>
