<div class="container-fluid animate-main-content" init>
    <div class="row">
        <div class="col-md-12 text-right">
            <div class="card-content">
                <div class="card-content-header">
                    <button class="btn btn-default btn-circle" type="button" data-title="Schema Validierung" ng-class="valid ? 'btn-success': 'btn-danger'" bs-tooltip>
                        <i class="fa fa-fw" ng-class="valid ? 'fa-check': 'fa-times'"></i>
                    </button>
                    <button class="btn btn-danger" type="button" ng-click="delete(host)">
                        <i class="fa fa-trash"></i> Löschen
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card-content">
                <div class="card-content-header">
                    Moderator
                </div>
                <div class="card-content-body" form>
                    <!-- id -->
                    <div name="'Primärschlüssel'" key="'id'" form-element>
                        <div class="input-group" ng-init="lockedId=true">
                            <input type="text" class="form-control" ng-model="host.id" ng-disabled="lockedId">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="lockedId=!lockedId">
                                    <i class="fa fa-fw" ng-class="{'fa-lock': lockedId, 'fa-unlock-alt': !lockedId}"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <!-- firstname -->
                    <div name="'Vorname'" key="'firstname'" form-element>
                        <input type="text" class="form-control" ng-model="host.firstname">
                    </div>
                    <!-- lastname -->
                    <div name="'Nachname'" key="'lastname'" form-element>
                        <input type="text" class="form-control" ng-model="host.lastname">
                    </div>
                    <!-- nickname -->
                    <div name="'Spitzname'" key="'nickname'" form-element>
                        <input type="text" class="form-control" ng-model="host.nickname">
                    </div>
                    <!-- description -->
                    <div name="'Beschreibung'" key="'description'" form-element>
                        <textarea type="text" rows="5" class="form-control" ng-model="host.description"></textarea>
                    </div>
                    <!-- links -->
                    <div name="'Links'" key="'links'" form-element>
                        <div class="vertical-list">
                            <div class="input-group" ng-repeat="link in host.links track by $index">
                                <input type="text" class="form-control" ng-model="host.links[$index]">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="host.links.splice($index, 1)">
                                        <i class="fa fa-fw fa-times"></i>
                                    </button>
                                </span>
                            </div>
                            <button class="btn btn-default" type="button" ng-click="host.links.push('')">
                                <i class="fa fa-fw fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- image -->
                    <div name="'Bild'" key="'image'" form-element>
                        <div img-input="host.image"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div json-editor="host"></div>
        </div>
    </div>
</div>
