html {
    position: relative;
    min-height: 100%;
    overflow-y: scroll;
}

body {
    margin-bottom: 50px;
}

[ng\:cloak],
[ng-cloak],
.ng-cloak {
    display: none !important;
}

.content {
    padding: 7px;
    margin-left: auto;
    margin-right: auto;
}

.content .row {
    margin-right: -7px;
}

.view-container {
    position: relative;
}

.max-width {
    max-width: 1400px;
}

.fade-animate.change-add,
.fade-animate.ng-enter {
    -webkit-transition: 200ms ease-in-out all;
    -moz-transition: 200ms ease-in-out all;
    -ms-transition: 200ms ease-in-out all;
    -o-transition: 200ms ease-in-out all;
    transition: 200ms ease-in-out all;
    opacity: 0;
    transform: translateY(20px);
}

.fade-animate.change-add-active,
.fade-animate.ng-enter.fade-animate.ng-enter-active {
    opacity: 1;
    transform: translateY(0);
}


/**
[START] navbar 
====================================================================================
**/

.navbar {
    border: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06), 0 3px 6px rgba(0, 0, 0, 0.13);
}

@media (min-width: 768px) {
    ul.nav > li:first-of-type {
        border-left: 1px solid #DFDFDF;
    }
    ul.nav > li {
        border-right: 1px solid #DFDFDF;
    }
}

.navbar .navbar-nav > li {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

.navbar .navbar-nav > li > a {
    outline: none !important;
}

.navbar .navbar-nav > .active {
    border-bottom: 2px solid #337ab7;
    background-color: #f5f5f5;
}

.navbar .navbar-nav > .active a {
    background-color: inherit !important;
}

.navbar .navbar-nav > li > a {
    font-weight: bold;
}

.navbar .navbar-right {
    margin: 0;
    padding: 5px;
    min-width: 200px;
}

.navbar .navbar-right .loading {
    display: block;
    margin: 10px 0;
}


/** [END] navbar **/


/**
[START] footer 
====================================================================================
**/

.footer {
    position: absolute;
    background-color: #f5f5f5;
    border: 1px solid #e7e7e7;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}

.footer .links {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer .links > li {
    display: inline-block;
    margin-right: 20px;
}

.footer .links.left {
    width: calc(100% - 110px);
}

.footer .links.right {
    width: 100px;
    text-align: right;
}

@media (max-width: 750px) {
    body {
        margin-bottom: 120px;
    }
    .footer .links > li {
        display: block;
    }
}


/** [END] footer **/


/**
[START] alerts 
====================================================================================
global alerts
**/

.alert-container {
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    z-index: 99;
}

.alert-animate.ng-enter,
.alert-animate.ng-leave {
    -webkit-transition: 200ms ease-in-out all;
    -moz-transition: 200ms ease-in-out all;
    -ms-transition: 200ms ease-in-out all;
    -o-transition: 200ms ease-in-out all;
    transition: 200ms ease-in-out all;
    position: relative;
    display: block;
}

.alert-animate.ng-enter.alert-animate.ng-enter-active,
.alert-animate.ng-leave {
    top: 0;
    height: 30px;
}

.alert-animate.ng-leave.alert-animate.ng-leave-active,
.alert-animate.ng-enter {
    top: -50px;
    height: 0px;
}


/** [END] alerts **/


/**
[START] stats 
====================================================================================
list of stats
**/

.stats {}

.stats .info {
    color: #888;
}

.stats .row {
    padding: 5px 0;
    vertical-align: top;
}

.stats .row:nth-child(even) {
    background-color: #f9f9f9;
}

.stats .header {
    border-bottom: 1px solid #ddd;
    font-size: 1.4em;
}

.stats .array > * {
    line-height: 1.8em;
}

.stats .array > div > div {
    display: table-cell;
}

.stats .array > div > div:first-child {
    padding-right: 5px;
}


/** [END] stats **/


/**
[START] chart
====================================================================================
**/

.chart {}

.chart .panel-body .scroll-wrapper {
    overflow-x: auto;
}

.chart .panel-body .scroll-container {
    min-width: 800px;
}


/** [END] chart **/


/**
[START] live chart
====================================================================================
live viewer chart
**/

.live-chart {}

.live-chart .live-header {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 10px;
}

.live-chart .live-header table {
    width: 100%;
}

.live-chart .update-chart {
    position: absolute;
    top: calc(50% - 20px);
    left: 30px;
    right: 30px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #337ab7;
}


/** [END] live chart **/


/**
[START] select
====================================================================================
selection header for selecting shows and hosts
 **/

.select {}

.select > .select-heading {
    padding: 0;
    margin-bottom: 10px;
}

.select > .select-heading .row,
.select > .select-heading .col-md-3 {
    padding-right: 0;
    margin-right: 0;
}

.select > .select-heading .ui-select-container input {
    width: 100% !important;
}

.select > .select-heading .ui-select-container .ui-select-placeholder,
.select > .select-heading .ui-select-container .ui-select-match-text {
    padding-right: 0;
}

.select > .select-heading .ui-select-container .btn-link {
    position: absolute !important;
    right: 10px;
}


/** [END] select **/


/**
[START] ui-select 
====================================================================================
adjust ui-select layout
**/

.select-large .ui-select-container,
.select-large .ui-select-match,
.select-large .ui-select-toggle,
.select-large .ui-select-search {
    min-height: 48px;
}

.select-large .ui-select-placeholder,
.select-large .ui-select-match-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
}

.select-large .ui-select-container .btn-link {
    top: 14px;
}

.ui-select-placeholder,
.ui-select-match-text {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 40px;
}

.ui-select-choices-group-label {
    font-weight: bold;
    font-size: 1.1em;
}

.ui-select-container input {
    width: 100% !important;
}

.input-group > .ui-select-container .ui-select-toggle {
    border-radius: 4px 0 0 4px;
}

.input-group > .input-group-btn .ui-select-container {
    width: 120px;
}

.input-group > .input-group-btn .ui-select-container .ui-select-toggle {
    border-left: #FFF;
    border-radius: 0 4px 4px 0;
}


/** [END] ui-select **/


/**
[START] panel 
====================================================================================
panels for grouped content
**/

.panel {
    border-radius: 2px;
    border: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06), 0 3px 6px rgba(0, 0, 0, 0.13);
}

.panel-body {
    position: relative;
}

.panel-body.container-views {
    padding: 0;
}


/** [END] panel **/


/**
[START] videos 
====================================================================================
videos list
**/

.videos-body {
    min-height: 100px;
    margin-bottom: 10px;
}

.videos-body .header {
    padding: 0;
}

.videos-body .header .left {
    color: #AAA;
}

.videos-body .header .right {
    text-align: right;
}

.videos-body .form-horizontal legend {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.videos-body .table thead th {
    border: 0 !important;
}

.videos-body .view-list .scroll-wrapper {
    overflow-x: auto;
    padding: 5px;
}

.videos-body .view-list .table tr th:nth-of-type(2) {
    min-width: 300px;
}

.videos-body .view-large .table .row {
    margin: 0 -5px;
}

.videos-body .view-large .table td {
    border: 0 !important;
    padding: 0 !important;
}

.videos-body .view-large .table .col-xs-12,
.videos-body .view-large .table .col-sm-6,
.videos-body .view-large .table .col-md-4,
.videos-body .view-large .table .col-lg-3 {
    padding: 5px;
}

.videos-body .ng-table-pagination {
    margin-top: 0px;
}

.videos-body .ng-table-pager {
    padding: 0px;
}

.videos-body .ng-table-header {
    text-align: left;
}

.videos-body .ng-table-pagination {
    margin-bottom: 0;
}

.videos-body .video-card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06), 0 3px 6px rgba(0, 0, 0, 0.13);
    margin: 5px 0px;
    height: 300px;
}

.videos-body .video-card .float-left {
    float: left;
    margin-right: 5px;
}

.videos-body .video-card .float-right {
    float: right;
    margin-left: 5px;
}

.videos-body .video-card .image {
    position: relative;
    background: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95) 10px, rgba(0, 0, 0, 0.94) 10px, rgba(0, 0, 0, 0.94) 20px);
    -background: linear-gradient(to bottom, rgba(0, 0, 0, 0.22) 0%, rgba(0, 0, 0, 0.0) 100%);
}

.videos-body .video-card .image .yt-thumbnail {
    display: block;
    max-height: 180px;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
}

.videos-body .video-card .hosts {
    z-index: 99;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px;
}

.videos-body .video-card .hosts > * {
    pointer-events: auto;
}

.videos-body .video-card .shows {
    z-index: 99;
    pointer-events: none;
    position: absolute;
    bottom: 4px;
    left: 0;
    padding: 3px;
}

.videos-body .video-card .shows > * {
    pointer-events: auto;
}

.videos-body .video-card .duration {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    bottom: 4px;
    right: 0;
    color: #ddd;
    font-weight: bold;
    font-size: 0.8em;
    padding: 2px 3px;
}

.videos-body .video-card .rating {
    background-color: #ff6666;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
}

.videos-body .video-card .rating .bar {
    background-color: #66ce66;
    height: 100%;
}

.videos-body .video-card .stats {
    cursor: default;
    padding: 3px;
}

.videos-body .video-card .title {
    font-size: 1.1em;
    height: 70px;
    overflow: hidden;
    padding: 3px;
}

.videos-body .video-card .dates {
    cursor: default;
    padding: 3px;
}

.videos-body .datetime-picker {
    margin-bottom: -5px;
}

.videos-body .datetime-picker > div {
    float: left;
    padding-bottom: 5px;
}

.videos-body .datetime-picker > div:first-child {
    margin-right: 20px;
}

.videos-body .datetime-picker .to {
    padding: 7px 15px;
}

.videos-body .datetime-picker .input-group {
    width: 140px;
}

.videos-body .align-left .open > .dropdown-menu {
    width: 120px;
    min-width: 120px;
}

.videos-body .button-list {
    margin: 5px 0;
}

.videos-body .button-list button {
    font-weight: bold;
    padding: 3px 7px;
    margin-right: 5px;
    margin-bottom: 5px;
}


/** [END] videos **/


/**
[START] badge 
====================================================================================
round thumbnail for shows and hosts
**/

.badge-round {
    border-radius: 50%;
}

.badge-md {
    width: 40px;
    height: 40px;
}

.badge-zoom {
    -webkit-transition: 100ms ease-in-out all;
    -moz-transition: 100ms ease-in-out all;
    -ms-transition: 100ms ease-in-out all;
    -o-transition: 100ms ease-in-out all;
    transition: 100ms ease-in-out all;
    transform: scale(1.6);
}

.badge-zoom-tooltip {
    transform: translate(0, -15px);
}

.badge-shadow {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}


/** [END] badge **/
