<div class="card-content">
    <div class="card-content-body">
        <div class="table-container">
            <table class="table table-hover list" ng-table="tableParams">
                <tr class="middle link" ng-repeat="channel in $data" ng-click="one(channel)">
                    <td width="1">
                        <img img-src="{{channel.image}}" img-fallback="{{imagePlaceholders.channel}}" img-loading="{{imagePlaceholders.channel}}">
                    </td>
                    <td width="300" title="'Titel'" sortable="'title'">
                        {{channel.title}}
                    </td>
                    <td title="'Beschreibung'" sortable="'description'">
                        <div class="limit-height">
                            {{channel.description}}
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div table-pagination="tableParams"></div>
    </div>
</div>
