<div class="container-fluid" ng-controller="ExportCtrl">
    <div class="row group-header">
        <div class="col-md-12">
            <label>Export</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-horizontal">
            <!-- format -->
            <div class="form-group">
                <label class="col-md-3 control-label">Format</label>
                <div class="col-md-4">
                    <ui-select ng-model="exportOptions.format" skip-focusser="true" search-enabled="false">
                        <ui-select-match placeholder="Auswählen..">
                            <span ng-bind="$select.selected.name"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="format in formats">
                            <span ng-bind="format.name"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <!-- filter published -->
            <div class="form-group">
                <label class="col-md-3 control-label">Filter</label>
                <div class="col-md-6 datetime-picker">
                    <div class="input-group">
                        <input type="text" placeholder="Von" class="form-control date" ng-model="exportOptions.filterPublished.start" options="filterPublishedOptions" date-range-picker>
                        <span class="input-group-btn">
                            <button class="btn btn-default clear" ng-click="exportOptions.filterPublished.start=0" ng-disabled="!exportOptions.filterPublished.start">
                                <i class="fa fa-times"></i>
                            </button>
                        </span>
                    </div>
                    <div class="input-group">
                        <input type="text" placeholder="Bis" class="form-control date" ng-model="exportOptions.filterPublished.end" options="filterPublishedOptions" date-range-picker>
                        <span class="input-group-btn">
                            <button class="btn btn-default clear" ng-click="exportOptions.filterPublished.end=0" ng-disabled="!exportOptions.filterPublished.end">
                                <i class="fa fa-times"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <!-- filter valid -->
            <div class="form-group">
                <div class="col-md-6 col-md-offset-3">
                    <div class="checkbox checkbox-primary checkbox-inline">
                        <input id="filterValid" type="checkbox" value="asc" ng-model="exportOptions.filterValid">
                        <label for="filterValid">Nur gültige Videos</label>
                    </div>
                </div>
            </div>
            <!-- filter online -->
            <div class="form-group">
                <div class="col-md-6 col-md-offset-3">
                    <div class="checkbox checkbox-primary checkbox-inline">
                        <input id="filterOnline" type="checkbox" value="asc" ng-model="exportOptions.filterOnline">
                        <label for="filterOnline">Nur online Videos</label>
                    </div>
                </div>
            </div>
            <!-- export -->
            <div class="form-group">
                <div class="col-md-6 col-md-offset-3">
                    <button class="btn btn-primary" ng-click="export()">Export</button>
                </div>
            </div>
        </div>
    </div>
</div>
