<nav class="navbar navbar-inverse navbar-custom">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/editor/">Editor</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{ active: isActive('/editor/channels/')}"><a href="#/editor/channels/" data-toggle="collapse" data-target=".navbar-collapse.in">Kanäle</a></li>
                <li ng-class="{ active: isActive('/editor/shows/')}"><a href="#/editor/shows/" data-toggle="collapse" data-target=".navbar-collapse.in">Formate</a></li>
                <li ng-class="{ active: isActive('/editor/hosts/')}"><a href="#/editor/hosts/" data-toggle="collapse" data-target=".navbar-collapse.in">Moderatoren</a></li>
                <li ng-class="{ active: isActive('/editor/series/')}"><a href="#/editor/series/" data-toggle="collapse" data-target=".navbar-collapse.in">Serien</a></li>
                <li ng-class="{ active: isActive('/editor/videos/')}"><a href="#/editor/videos/" data-toggle="collapse" data-target=".navbar-collapse.in">Videos</a></li>
                <li ng-class="{ active: isActive('/editor/data/')}"><a href="#/editor/data/" data-toggle="collapse" data-target=".navbar-collapse.in">Daten</a></li>
                <li ng-class="{ active: isActive('/editor/config/')}"><a href="#/editor/config/" data-toggle="collapse" data-target=".navbar-collapse.in">Einstellungen</a></li>
            </ul>
        </div>
    </div>
</nav>
