<div class="container-fluid animate-main-content" init>
    <div class="row">
        <div class="col-md-6 col-md-offset-6">
            <div class="card-content">
                <div class="card-content-header">
                    Format
                </div>
                <div class="card-content-body overview-one">
                    <img class="image-badge image-badge-lg" img-src="{{show.image}}" img-fallback="{{imagePlaceholders.show}}" img-loading="{{imagePlaceholders.show}}">
                    <div class="title">
                        <a ng-href="#/videos/shows/{{show.id}}">{{show.name}}</a>
                    </div>
                    <div class="content">{{show.description}}</div>
                    <div class="links">
                        link
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card-content">
                <div class="card-content-header">
                    Statistiken
                </div>
                <div class="card-content-body form-stats" form>
                    <div name="'Gesamte Anzahl Videos'" form-element>
                        {{stats.videosCountTotal | number}} Videos
                    </div>
                    <div name="'Durchschnittliche Video Aufrufe'" form-element>
                        {{stats.videosViewsMean | number}} Aufrufe
                    </div>
                    <div name="'Anzahl Videos mit Moderatoren'" form-element>
                        <div class="table-container">
                            <table class="table table-hover list" ng-table="stats.videosHostsTable">
                                <tr class="middle link" ng-repeat="data in $data" ng-click="toHost(data.host)">
                                    <td width="130" title="'Anzahl Videos'" sortable="'count'">
                                        {{data.count | number}}
                                    </td>
                                    <td title="'Vorname'" sortable="'host.firstname'">
                                        {{data.host.firstname}}
                                    </td>
                                    <td title="'Nachname'" sortable="'host.lastname'">
                                        {{data.host.lastname}}
                                    </td>
                                    <td title="'Spitzname'" sortable="'host.nickname'">
                                        {{data.host.nickname}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div align="'right'" table-pagination="stats.videosHostsTable"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-repeat="chart in charts">
        <div class="col-lg-12">
            <div options="chart.options" update="chart.update" chart></div>
        </div>
    </div>
    <div videos-view="videos" videos-mode="'view'"></div>
</div>
