<div class="container-fluid animate-main-content" init>
    <div class="row">
        <div class="col-md-6">
            <div class="card-content">
                <div class="card-content-body overview-one">
                    <a ui-sref="viewer.videos.shows.one({showId: show.id, seriesId: null})">
                        <img class="image-badge image-badge-lg" img-src="{{show.image}}" img-fallback="{{imagePlaceholders.show}}" img-loading="{{imagePlaceholders.show}}">
                    </a>
                    <div class="title">
                        <a ui-sref="viewer.videos.shows.one({showId: show.id, seriesId: null})">{{show.name}}</a>
                    </div>
                    <div class="content" ng-bind-html="show.description"></div>
                    <div class="links">
                        <div ng-repeat="link in show.links">
                            <a ng-href="{{link}}" target="_blank">
                                <i class="fa-lg" ng-class="getDomainIcon(link)"></i>{{getDomain(link)}}
                            </a>
                        </div>
                    </div>
                    <div class="report">
                        <a href="javascript:void(0);" report="shows" report-id="{{show.id}}"><i class="fa fa-flag"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-content" ng-if="seriesId">
                <div class="card-content-body overview-one">
                    <a ui-sref="viewer.videos.shows.one({showId: show.id, seriesId: series.id})">
                        <img class="image-badge image-badge-lg" img-src="{{series.image}}" img-fallback="{{imagePlaceholders.series}}" img-loading="{{imagePlaceholders.series}}">
                    </a>
                    <div class="title">
                        <a ui-sref="viewer.videos.shows.one({showId: show.id, seriesId: series.id})">{{series.name}}</a>
                    </div>
                    <div class="content" ng-bind-html="series.description"></div>
                    <div class="links">
                        <div ng-repeat="link in series.links">
                            <a ng-href="{{link}}" target="_blank">
                                <i class="fa-lg" ng-class="getDomainIcon(link)"></i>{{getDomain(link)}}
                            </a>
                        </div>
                    </div>
                    <div class="report">
                        <a href="javascript:void(0);" report="series" report-id="{{series.id}}"><i class="fa fa-flag"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="!seriesId && showSeries.length > 0" table-view-data="showSeries" table-view-options="seriesOptions" table-view="seriesTable">
        <title>Serien</title>
        <div id="list" name="Liste" icon="fa-th-list" template="app/viewer/videos/shows/shows-one/series-all-list.html"></div>
        <div id="card" name="Kacheln" icon="fa-th-large" template="app/viewer/videos/shows/shows-one/series-all-card.html"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card-content">
                <div class="card-content-header">
                    Statistiken
                </div>
                <div class="card-content-body form-stats" form>
                    <div name="'Gesamte Video Anzahl'" form-element>
                        {{stats.videosCountTotal | number}} Videos
                    </div>
                    <div name="'Durchschnittliche Video Anzahl'" form-element>
                        {{stats.videosCountMean | number}} Videos pro Tag
                    </div>
                    <div name="'Gesamte Video Laufzeit'" form-element>
                        {{stats.videosDurationTotal | duration}}
                    </div>
                    <div name="'Durchschnittliche Video Laufzeit'" form-element>
                        {{stats.videosDurationMean | duration}}
                    </div>
                    <div name="'Gesamte Video Aufrufe'" form-element>
                        {{stats.videosViewsTotal | number}} Aufrufe
                    </div>
                    <div name="'Durchschnittliche Video Aufrufe'" form-element>
                        {{stats.videosViewsMean | number}} Aufrufe pro Video
                    </div>
                    <div name="'Video Anzahl mit Moderatoren'" form-element>
                        <div class="table-container">
                            <table class="table table-hover list" ng-table="stats.videosHostsTable">
                                <tr class="middle link" ui-sref="viewer.videos.hosts.one({hostId: data.host.id})" ng-repeat="data in $data">
                                    <td width="130" title="'Video Anzahl'" sortable="'count'">
                                        {{data.count | number}}
                                    </td>
                                    <td title="'Vorname'" sortable="'host.firstname'">
                                        {{data.host.firstname}}
                                    </td>
                                    <td title="'Nachname'" sortable="'host.lastname'">
                                        {{data.host.lastname}}
                                    </td>
                                    <td title="'Spitzname'" sortable="'host.nickname'">
                                        {{data.host.nickname}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div align="'right'" table-pagination="stats.videosHostsTable"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-repeat="chart in charts">
        <div class="col-lg-12">
            <div options="chart.options" update="chart.update" chart></div>
        </div>
    </div>
    <div videos-view-mode="'view'" videos-view-data="videos" videos-view-options="videosOptions" videos-view="videosTable"></div>
</div>
