<div class="card-content">
    <div class="card-content-body">
        <div class="table-container">
            <table class="table table-hover list" ng-table="table.params">
                <tr class="middle link" ng-repeat="host in $data" ng-click="one(host)">
                    <td width="1">
                        <img img-src="{{host.image}}" img-fallback="{{imagePlaceholders.host}}" img-loading="{{imagePlaceholders.host}}">
                    </td>
                    <td width="150" title="'Vorname'" sortable="'firstname'">
                        {{host.firstname}}
                    </td>
                    <td width="150" title="'Nachname'" sortable="'lastname'">
                        {{host.lastname}}
                    </td>
                    <td width="150" title="'Spitzname'" sortable="'nickname'">
                        {{host.nickname}}
                    </td>
                    <td title="'Links'">
                        <a class="icon-link" ng-href="{{link}}" target="_blank" ng-click="$event.stopPropagation()" ng-repeat="link in host.links">
                            <i class="fa-lg" ng-class="getDomainIcon(link)"></i>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div table-pagination="table.params"></div>
    </div>
</div>
