<div class="card-transparent">
    <table class="table cards" ng-table="table.params">
        <tr ng-repeat="host in $data">
            <td class="hide"></td>
        </tr>
        <td class="container-fluid">
            <div class="row">
                <div ng-repeat="host in $data" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card-image">
                        <div class="card-image-header card-image-header-xs">
                            <div class="image">
                                <a ui-sref="viewer.videos.hosts.one({hostId: host.id})">
                                    <img class="image-badge image-badge-lg" img-src="{{host.image}}" img-fallback="{{imagePlaceholders.host}}" img-loading="{{imagePlaceholders.host}}">
                                </a>
                            </div>
                            <div class="title">
                                <a ui-sref="viewer.videos.hosts.one({hostId: host.id})">{{host.firstname}} {{host.lastname}}</a>
                            </div>
                            <div class="subtitle" ng-if="host.nickname">
                                {{host.nickname}}
                            </div>
                            <div class="links">
                                <a class="icon-link" ng-href="{{link}}" target="_blank" data-title="{{getDomain(link)}}" ng-repeat="link in host.links" bs-tooltip>
                                    <i class="fa-lg" ng-class="getDomainIcon(link)"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-image-footer text-right">
                            <a ui-sref="viewer.videos.hosts.one({hostId: host.id})">
                                <i class="fa fa-lg fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </table>
</div>
