<div class="container-fluid animate-main-content" ng-if="initialized">
    <div class="row">
        <div class="col-md-12">
            <div class="card-content">
                <div class="card-content-header form-inline text-right">
                    <div class="form-group">
                        <div class="input-group">
                            <ui-select ng-model="tableOptions.display.count" skip-focusser="true" search-enabled="false">
                                <ui-select-match>
                                    <span ng-bind="$select.selected"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="count in displayCountOptions">
                                    <span ng-bind="count"></span>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn" ng-model="tableOptions.display.view" bs-radio-group>
                                <label class="btn btn-default" data-title="{{view.name}}" ng-repeat="view in displayViewOptions" bs-tooltip>
                                    <input type="radio" class="btn btn-default" value="{{view.value}}">
                                    <i class="fa {{view.icon}}"></i>
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" placeholder="Suche" ng-model="tableParams.filter().name">
                        <i class="fa fa-search form-control-feedback"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" ng-show="tableParams.total() > 0">
            <div class="animate-table-view" ng-include="'app/viewer/videos/shows/shows-all/shows-all-list.html'" ng-if="tableOptions.display.view === 'list'"></div>
            <div class="animate-table-view" ng-include="'app/viewer/videos/shows/shows-all/shows-all-card.html'" ng-if="tableOptions.display.view === 'card'"></div>
        </div>
    </div>
</div>
