<div class="card-content">
    <div class="card-content-body">
        <div class="table-container">
            <table class="table table-hover list" ng-table="hostsTable">
                <tr class="middle link" ui-sref="viewer.videos.hosts.one({hostId: host.id})" ng-repeat="host in $data">
                    <td width="1">
                        <img img-src="{{host.image}}" img-fallback="{{imagePlaceholders.host}}" img-loading="{{imagePlaceholders.host}}">
                    </td>
                    <td width="150" title="'Vorname'" sortable="'firstname'">
                        {{host.firstname}}
                    </td>
                    <td width="150" title="'Nachname'" sortable="'lastname'">
                        {{host.lastname}}
                    </td>
                    <td width="150" title="'Spitzname'" sortable="'nickname'">
                        {{host.nickname}}
                    </td>
                    <td title="'Links'">
                        <a class="icon-link" ng-href="{{link}}" target="_blank" data-title="{{getDomain(link)}}" ng-click="$event.stopPropagation()" ng-click="$event.stopPropagation()" ng-repeat="link in host.links" bs-tooltip>
                            <i class="fa-lg" ng-class="getDomainIcon(link)"></i>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
