<!doctype html>
<html>

<head>
    <title>Rocketbeans TV Youtube Statistiken</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css" />
    <link rel="stylesheet" href="bower_components/ng-table/dist/ng-table.min.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/fontcustom.css">
    <!-- endbuild -->
</head>

<body ng-controller="DataCtrl" ng-app="rbtvstatsApp" ng-cloak>
    <nav id="top" class="navbar navbar-default" ng-controller="NavigationCtrl">
        <div class="container-fluid max-width">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/channels">RBTV Youtube Statistiken</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li ng-class="{ active: isActive('/channels')}"><a href="#/channels" data-toggle="collapse" data-target=".navbar-collapse.in">Kanal</a></li>
                    <li ng-class="{ active: isActive('/shows')}"><a href="#/shows" data-toggle="collapse" data-target=".navbar-collapse.in">Formate</a></li>
                    <li ng-class="{ active: isActive('/hosts')}"><a href="#/hosts" data-toggle="collapse" data-target=".navbar-collapse.in">Moderatoren</a></li>
                    <li ng-class="{ active: isActive('/videos')}"><a href="#/videos" data-toggle="collapse" data-target=".navbar-collapse.in">Videos</a></li>
                    <li class="extern"><a href="http://www.rbtv-stats.de/" target="_blank" data-toggle="collapse" data-target=".navbar-collapse.in">Twitch Statistiken</a></li>
                </ul>
                <p class="navbar-text navbar-right">
                    <span ng-if="!loadingData">Daten aktualisiert: {{metadata.time | createDate | date:"dd.MM.yyyy"}}</span>
                    <span ng-if="loadingData"><i class="fa fa-spinner fa-pulse fa-fw"></i>Lade Daten</span>
                </p>
            </div>
        </div>
    </nav>
    <div class="view-container">
        <div class="view" ng-view></div>
    </div>
    <footer class="footer">
        <div class="content max-width">
            <ul class="links left">
                <li><a href="https://www.rocketbeans.tv/" target="_blank"><i class="icon-rbtv"></i> Homepage</a></li>
                <li><a href="https://www.twitch.tv/rocketbeanstv" target="_blank"><i class="fa fa-twitch"></i> Twitch</a></li>
                <li><a href="https://www.youtube.com/channel/UCQvTDmHza8erxZqDkjQ4bQQ" target="_blank"><i class="fa fa-youtube-play"></i> Rocket Beans TV</a></li>
                <li><a href="https://www.youtube.com/channel/UCtSP1OA6jO4quIGLae7Fb4g" target="_blank"><i class="fa fa-youtube-play"></i> Rocket Beans TV Let's Play</a></li>
                <li><a href="https://www.reddit.com/r/rocketbeans" target="_blank"><i class="fa fa-reddit"></i> Reddit</a></li>
            </ul>
            <ul class="links right">
                <li><a href="javascript:void(0)" ng-click="scrollTop()">Nach oben</a></li>
            </ul>
        </div>
    </footer>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
    ! function(A, n, g, u, l, a, r) {
        A.GoogleAnalyticsObject = l, A[l] = A[l] || function() {
                (A[l].q = A[l].q || []).push(arguments)
            }, A[l].l = +new Date, a = n.createElement(g),
            r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-78347701-1');
    ga('send', 'pageview');
    </script>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-ui-select/dist/select.js"></script>
    <script src="bower_components/Chart.js/dist/Chart.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <script src="bower_components/ng-table/dist/ng-table.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/angular-scroll/angular-scroll.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/filters/duration.js"></script>
    <script src="scripts/filters/createdate.js"></script>
    <script src="scripts/services/state.js"></script>
    <script src="scripts/services/data.js"></script>
    <script src="scripts/controllers/navigation.js"></script>
    <script src="scripts/controllers/channels.js"></script>
    <script src="scripts/controllers/hosts.js"></script>
    <script src="scripts/controllers/shows.js"></script>
    <script src="scripts/controllers/videos.js"></script>
    <script src="scripts/controllers/data.js"></script>
    <script src="scripts/directives/stat.js"></script>
    <script src="scripts/directives/blank.js"></script>
    <script src="scripts/directives/animationchanged.js"></script>
    <script src="scripts/directives/contentplaceholder.js"></script>
    <!-- endbuild -->
</body>

</html>
