<div class="date-range-picker">
    <div class="tabs" bs-active-pane="tab.selected" bs-tabs>
        <!-- quickselect -->
        <div class="quickselect" data-name="quickselect" data-title="Zeitspanne" bs-pane>
            <table>
                <tr>
                    <td class="ranges">
                        <div class="range" ng-repeat="range in options.ranges">
                            <button class="btn" type="button" ng-click="setRange(range)" ng-class="isSelectedRange(range) ? 'btn-primary' : 'btn-default'">
                                {{range.name}}
                            </button>
                        </div>
                    </td>
                    <td class="dates">
                        <label>Von</label>
                        <div ng-if="date.start">
                            <div>{{date.start | amFromUnix | amDateFormat:'LT'}}</div>
                            <div>{{date.start | amFromUnix | amDateFormat:'LL'}}</div>
                        </div>
                        <div ng-if="!date.start">
                            -
                            <br>&nbsp;
                        </div>
                        <label>Bis</label>
                        <div ng-if="date.end">
                            <div>{{date.end | amFromUnix | amDateFormat:'LT'}}</div>
                            <div>{{date.end | amFromUnix | amDateFormat:'LL'}}</div>
                        </div>
                        <div ng-if="!date.end">
                            -
                            <br>&nbsp;
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <!-- start -->
        <div class="datetime-container" data-name="start" data-title="Von" bs-pane>
            <i class="fa fa-clock-o time"></i>
            <input type="text" placeholder="Zeit" class="form-control" ng-model="date.start" data-length="1" data-trigger="manual" data-container="false" data-bs-show="timePicker.show" bs-timepicker>
            <div class="clear"></div>
            <i class="fa fa-calendar date"></i>
            <input type="text" placeholder="Datum" class="form-control" ng-model="date.start" data-trigger="manual" data-container="false" data-bs-show="datePicker.show" bs-datepicker>
        </div>
        <!-- end -->
        <div class="datetime-container" data-name="end" data-title="Bis" bs-pane>
            <i class="fa fa-clock-o time"></i>
            <input type="text" placeholder="Zeit" class="form-control" ng-model="date.end" data-length="1" data-trigger="manual" data-container="false" data-bs-show="timePicker.show" bs-timepicker>
            <div class="clear"></div>
            <i class="fa fa-calendar date"></i>
            <input type="text" placeholder="Datum" class="form-control" ng-model="date.end" data-trigger="manual" data-container="false" data-bs-show="datePicker.show" bs-datepicker>
        </div>
    </div>
    <div class="actions">
        <button class="btn btn-primary" type="button" ng-click="apply()">
            Anwenden
        </button>
        <button class="btn btn-default" type="button" ng-click="clear()">
            Zurücksetzen
        </button>
    </div>
</div>
