<div ng-controller="ShowsAllCtrl">
    <div class="container-fluid animate-view" ng-if="initialized">
        <div class="row">
            <div class="col-md-12">
                <div class="card-content">
                    <div class="card-content-header form-inline text-right">
                        <div class="form-group">
                            <button class="btn btn-default" type="button" ng-click="add()">
                                <i class="fa fa-plus"></i> Hinzufügen
                            </button>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <ui-select ng-model="tableOptions.display.count" skip-focusser="true" search-enabled="false">
                                    <ui-select-match>
                                        <span ng-bind="$select.selected"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="count in displayCountOptions">
                                        <span ng-bind="count"></span>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" uib-tooltip="{{view.name}}" ng-click="tableOptions.display.view = view.value" ng-class="{'active' : tableOptions.display.view === view.value}" ng-repeat="view in displayViewOptions">
                                        <i class="fa {{view.icon}}"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control input-md" placeholder="Suche" ng-model="tableParams.filter().name">
                            <i class="fa fa-search form-control-feedback"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" ng-show="tableParams.total() > 0">
                <div class="animate-view" ng-include="'app/editor/views/shows/shows-all/shows-all-list.html'" ng-if="tableOptions.display.view === 'list'"></div>
                <div class="animate-view" ng-include="'app/editor/views/shows/shows-all/shows-all-card.html'" ng-if="tableOptions.display.view === 'card'"></div>
            </div>
        </div>
        <div class="row" ng-hide="tableParams.total() > 0">
            <div class="col-md-12">
                <div class="empty-result"></div>
            </div>
        </div>
    </div>
</div>
