<div class="container-fluid" ng-controller="ConfigCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="card-content">
                <div class="card-content-header">
                    Einstellungen
                </div>
                <div class="card-content-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="youtubeApiKey">Youtube API Key</label>
                            <div class="col-md-4">
                                <input id="youtubeApiKey" name="youtubeApiKey" type="text" placeholder="Youtube API Key" class="form-control input-md" ng-model="config.youtubeApiKey">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
