<div ng-controller="ConfigCtrl">
    <div class="container-fluid animate-view" ng-if="initialized">
        <div class="row">
            <div class="col-md-12">
                <div class="card-content">
                    <div class="card-content-header">
                        Einstellungen
                    </div>
                    <div class="card-content-body">
                        <legend>Authentifizierung</legend>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="youtubeApiKey">Youtube API Key</label>
                                <div class="col-md-4">
                                    <input id="youtubeApiKey" name="youtubeApiKey" type="text" placeholder="Youtube API Key" class="form-control input-md" ng-model="config.youtubeApiKey">
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="githubOAuthToken">Github OAuth Token</label>
                                <div class="col-md-4">
                                    <input id="githubOAuthToken" name="githubOAuthToken" type="text" placeholder="Github OAuth Token" class="form-control input-md" ng-model="config.githubOAuthToken">
                                </div>
                            </div>
                        </div>
                        <legend>Daten</legend>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="githubBaseUrl">Github Basis URL</label>
                                <div class="col-md-4">
                                    <input id="githubBaseUrl" name="githubBaseUrl" type="text" placeholder="Github Repository" class="form-control input-md" ng-model="config.githubBaseUrl">
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="githubRepository">Github Repository</label>
                                <div class="col-md-4">
                                    <input id="githubRepository" name="githubRepository" type="text" placeholder="Github Repository" class="form-control input-md" ng-model="config.githubRepository">
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="githubBranch">Github Branch</label>
                                <div class="col-md-4">
                                    <input id="githubBranch" name="githubBranch" type="text" placeholder="Github Branch" class="form-control input-md" ng-model="config.githubBranch">
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="videosPath">Video Daten</label>
                                <div class="col-md-4">
                                    <input id="videosPath" name="videosPath" type="text" placeholder="Video Daten" class="form-control input-md" ng-model="config.videosPath">
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="livePath">Live Daten</label>
                                <div class="col-md-4">
                                    <input id="livePath" name="livePath" type="text" placeholder="Live Daten" class="form-control input-md" ng-model="config.livePath">
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-4 col-md-offset-4 text-right">
                                    <button class="btn btn-primary" ng-click="reset()">
                                        <i class="fa fa-undo"></i> Zurücksetzten
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
