<div class="container-fluid animate-main-content" init>
    <div table-view-data="channels" table-view-options="channelsOptions" table-view="channelsTable">
        <title>Kanäle</title>
        <div id="list" name="Liste" icon="fa-th-list" template="app/editor/videos/channels/channels-all/channels-all-list.html"></div>
        <div id="card" name="Kacheln" icon="fa-th-large" template="app/editor/videos/channels/channels-all/channels-all-card.html"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card-transparent text-right">
                <button class="btn btn-default" type="button" ng-click="add()">
                    <i class="fa fa-plus"></i> Hinzufügen
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card-content">
                <div class="card-content-header">
                    Code Ausführen
                </div>
                <div class="card-content-body">
                    <div>
                        <code>
                            _.each(channels, function(channel) {
                                <textarea class="form-control" rows="10" ng-model="exec.code"></textarea>
                            });
                        </code>
                    </div>
                    <div>
                        <button class="btn btn-default" type="button" ng-click="run(exec)">
                            <i class="fa fa-exclamation"></i> Ausführen
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
