<div class="metadata">
    <div class="metadata-header">
        <div class="left">
            <button class="btn btn-default" type="button" data-title="Schließen" ng-click="close()" bs-tooltip>
                <i class="fa fa-fw fa-close"></i>
            </button>
            <button class="btn btn-default" type="button" data-title="Auto" ng-click="extractAll(video)" bs-tooltip>
                <i class="fa fa-fw fa-magic"></i>
            </button>
            <button class="btn btn-default" type="button" data-title="Ansicht: Formular" ng-click="tabs.selected='form'" ng-class="{'active': tabs.selected === 'form'}" bs-tooltip>
                <i class="fa fa-fw fa-bars"></i>
            </button>
            <button class="btn btn-default" type="button" data-title="Ansicht: Editor" ng-click="tabs.selected='editor'" ng-class="{'active': tabs.selected === 'editor'}" bs-tooltip>
                <i class="fa fa-fw fa-code"></i>
            </button>
        </div>
        <div class="right">
            <div class="text-right">
                <button class="btn btn-default btn-circle" type="button" ng-class="valid ? 'btn-success': 'btn-danger'" data-title="Schema Validierung" bs-tooltip>
                    <i class="fa fa-fw" ng-class="valid ? 'fa-check': 'fa-times'"></i>
                </button>
                <button class="btn btn-danger" type="button" data-title="Löschen" ng-click="delete(video)" bs-tooltip>
                    <i class="fa fa-fw fa-trash"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="metadata-body">
        <div bs-active-pane="tabs.selected" bs-tabs>
            <div name="form" bs-pane>
                <div class="form-horizontal view-form">
                    <!-- shows -->
                    <div class="form-group">
                        <label class="col-md-12">Formate</label>
                        <div class="col-md-12">
                            <div class="input-group">
                                <ui-select ng-model="show.selected" on-select="addShow(video, show.selected)">
                                    <ui-select-match placeholder="Auswählen..">
                                        <span>Auswählen..</span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="show in (shows | filter: $select.search)">
                                        <img class="image-badge image-badge-md" img-src="{{show.image}}" img-fallback="{{imagePlaceholders.show}}" img-loading="{{imagePlaceholders.show}}">
                                        <span ng-bind="show.name"></span>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="extractShows(video)">
                                        <i class="fa fa-magic"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="video.shows.length">
                        <div class="col-md-12">
                            <div class="button-list">
                                <button type="button" class="btn btn-default" data-title="{{show.name || show.id}}" ng-click="removeShow(video, show)" ng-repeat="show in (video.shows | videosResolve:'shows' | orderBy)" bs-tooltip>
                                    <img class="image-badge image-badge-md" img-src="{{show.image}}" img-fallback="{{imagePlaceholders.show}}" img-loading="{{imagePlaceholders.show}}">
                                    <span ng-bind="show.name"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- hosts -->
                    <div class="form-group">
                        <label class="col-md-12">Moderatoren</label>
                        <div class="col-md-12">
                            <div class="input-group">
                                <ui-select ng-model="host.selected" on-select="addHost(video, host.selected)">
                                    <ui-select-match placeholder="Auswählen..">
                                        <span>Auswählen..</span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="host in (hosts | filter: $select.search)">
                                        <img class="image-badge image-badge-md" img-src="{{host.image}}" img-fallback="{{imagePlaceholders.host}}" img-loading="{{imagePlaceholders.host}}">
                                        <span>{{host.firstname}} {{host.lastname}}</span>
                                        <span ng-if="host.nickname">({{host.nickname}})</span>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="extractHosts(video)">
                                        <i class="fa fa-magic"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="video.hosts.length">
                        <div class="col-md-12">
                            <div class="button-list">
                                <button type="button" class="btn btn-default" data-title="{{host.firstname}} {{host.lastname}}" ng-click="removeHost(video, host)" ng-repeat="host in (video.hosts | videosResolve:'hosts' | orderBy)" bs-tooltip>
                                    <img class="image-badge image-badge-md" img-src="{{host.image}}" img-fallback="{{imagePlaceholders.host}}" img-loading="{{imagePlaceholders.host}}">
                                    <span>{{host.firstname}} {{host.lastname}}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- series -->
                    <div class="form-group">
                        <label class="col-md-12">Serien</label>
                        <div class="col-md-12">
                            <div class="input-group">
                                <ui-select ng-model="series_.selected" on-select="addSeries(video, series_.selected)">
                                    <ui-select-match placeholder="Auswählen..">
                                        <span>Auswählen..</span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="series in (series | filter: $select.search)">
                                        <img class="image-badge image-badge-md" img-src="{{series.image}}" img-fallback="{{imagePlaceholders.series}}" img-loading="{{imagePlaceholders.series}}">
                                        <span ng-bind="series.name"></span>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="extractSeries(video)">
                                        <i class="fa fa-magic"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="video.series.length">
                        <div class="col-md-12">
                            <div class="button-list">
                                <button type="button" class="btn btn-default" data-title="{{series.name || series.id}}" ng-click="removeSeries(video, series)" ng-repeat="series in (video.series | videosResolve:'series' | orderBy)" bs-tooltip>
                                    <img class="image-badge image-badge-md" img-src="{{series.image}}" img-fallback="{{imagePlaceholders.series}}" img-loading="{{imagePlaceholders.series}}">
                                    <span ng-bind="series.name"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div name="editor" bs-pane>
                <div class="view-editor">
                    <div json-editor="video" editor-only="true"></div>
                </div>
            </div>
        </div>
    </div>
</div>
