<div class="card-transparent">
    <table class="table cards" ng-table="showsTable">
        <tr ng-repeat="show in $data">
            <td class="hide"></td>
        </tr>
        <td class="container-fluid">
            <div class="row">
                <div ng-repeat="show in $data" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card-image">
                        <div class="card-image-header card-image-header-xs">
                            <div class="image">
                                <a ui-sref="viewer.videos.shows.one({showId: show.id})">
                                    <img class="image-badge image-badge-lg" img-src="{{show.image}}" img-fallback="{{imagePlaceholders.show}}" img-loading="{{imagePlaceholders.show}}">
                                </a>
                            </div>
                            <div class="scroll-container" swipe-propagation="false" perfect-scrollbar>
                                <div class="title">
                                    <a ui-sref="viewer.videos.shows.one({showId: show.id})">{{show.name || '(Kein Name)'}}</a>
                                </div>
                                <div class="content" ng-bind-html="show.description"></div>
                            </div>
                        </div>
                        <div class="card-image-footer text-right">
                            <a ui-sref="viewer.videos.shows.one({showId: show.id})">
                                <i class="fa fa-lg fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </table>
</div>
