<div class="container-fluid animate-main-content" init>
    <div class="row">
        <div class="col-md-12 text-right">
            <div class="card-content">
                <div class="card-content-header">
                    <button class="btn btn-default btn-circle" type="button" data-title="Schema Validierung" ng-class="valid ? 'btn-success': 'btn-danger'" bs-tooltip>
                        <i class="fa fa-fw" ng-class="valid ? 'fa-check': 'fa-times'"></i>
                    </button>
                    <button class="btn btn-danger" type="button" ng-click="delete(channel)">
                        <i class="fa fa-trash"></i> Löschen
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card-content">
                <div class="card-content-header">
                    Kanal
                </div>
                <div class="card-content-body" form>
                    <!-- id -->
                    <div name="'Primärschlüssel'" key="'id'" form-element>
                        <div class="input-group" ng-init="lockedId=true">
                            <input type="text" class="form-control" ng-model="channel.id" ng-disabled="lockedId">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="lockedId=!lockedId">
                                    <i class="fa fa-fw" ng-class="{'fa-lock': lockedId, 'fa-unlock-alt': !lockedId}"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <!-- username -->
                    <div name="'Benutzername'" key="'username'" form-element>
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="channel.username">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="fetchMetadata(channel, {username: channel.username})">
                                    <i class="fa fa-fw fa-refresh"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <!-- channelId -->
                    <div name="'Kanal ID'" key="'channelId'" form-element>
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="channel.channelId">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="fetchMetadata(channel, {id: channel.channelId})">
                                    <i class="fa fa-fw fa-refresh"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <!-- playlistId -->
                    <div name="'Video Playlist ID'" key="'playlistId'" form-element>
                        <input type="text" class="form-control" ng-model="channel.playlistId">
                    </div>
                    <!-- title -->
                    <div name="'Titel'" key="'title'" form-element>
                        <input type="text" class="form-control" ng-model="channel.title">
                    </div>
                    <!-- description -->
                    <div name="'Beschreibung'" key="'description'" form-element>
                        <textarea type="text" rows="5" class="form-control" ng-model="channel.description"></textarea>
                    </div>
                    <!-- image -->
                    <div name="'Bild'" key="'image'" form-element>
                        <div download="channel.id" img-input="channel.image"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div json-editor="channel"></div>
        </div>
    </div>
</div>
