<div class="container-fluid animate-main-content" init>
    <div class="row">
        <div class="col-md-12 text-right">
            <div class="card-content">
                <div class="card-content-header">
                    <button class="btn btn-default btn-circle" type="button" data-title="Schema Validierung" ng-class="valid ? 'btn-success': 'btn-danger'" bs-tooltip>
                        <i class="fa fa-fw" ng-class="valid ? 'fa-check': 'fa-times'"></i>
                    </button>
                    <button class="btn btn-danger" type="button" ng-click="delete(series)">
                        <i class="fa fa-trash"></i> Löschen
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card-content">
                <div class="card-content-header">
                    Serie
                </div>
                <div class="card-content-body">
                    <div class="form-horizontal">
                        <!-- id -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="id">Primärschlüssel<span class="key-name">id</span></label>
                            <div class="col-md-8">
                                <div class="input-group" ng-init="lockedId=true">
                                    <input id="id" name="id" type="text" class="form-control" ng-model="series.id" ng-disabled="lockedId">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" ng-click="lockedId=!lockedId">
                                            <i class="fa fa-fw" ng-class="{'fa-lock': lockedId, 'fa-unlock-alt': !lockedId}"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- name -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="name">Name<span class="key-name">name</span></label>
                            <div class="col-md-8">
                                <input id="name" name="name" type="text" class="form-control" ng-model="series.name">
                            </div>
                        </div>
                        <!-- description -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="description">Beschreibung<span class="key-name">description</span></label>
                            <div class="col-md-8">
                                <textarea id="description" name="description" type="text" rows="5" class="form-control" ng-model="series.description"></textarea>
                            </div>
                        </div>
                        <!-- image -->
                        <div img-input="series.image"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div json-editor="series"></div>
        </div>
    </div>
</div>
