<div class="container-fluid" ng-controller="VideosAllCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="card-content">
                <div class="card-content-header">
                    Video Daten
                </div>
                <div class="card-content-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Video Liste Abrufen</label>
                            <div class="col-md-6">
                                <button class="btn btn-default" type="button" ng-click="updateVideosAll()">
                                    <i class="fa fa-refresh"></i> Alle Videos
                                </button>
                                <button class="btn btn-default" type="button" ng-click="updateVideosNew()">
                                    <i class="fa fa-refresh"></i> Neue Videos
                                </button>
                                <div class="btn-group" uib-tooltip="{{updateUntil.format('LL')}}" tooltip-append-to-body="true">
                                    <button class="btn btn-default" type="button" ng-click="updateVideosAllUntil(updateUntil)">
                                        <i class="fa fa-refresh"></i> Alle Videos bis...
                                    </button>
                                    <button type="button" class="btn btn-default" ng-model="updateUntil" options="updateUntilOptions" date-range-picker>
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </div>
                                <span class="help-block">
                                    Aktualisieren der Video Liste für alle definierten <a href="#/editor/channels">Kanäle</a>. Die abgerufenen Informationen beinhaltet nur die Video ID, den Titel und das Veröffentlichungsdatum. Weitere Video Details müssen seperat abgerufen werden.
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Video Details Abrufen</label>
                            <div class="col-md-6">
                                <button class="btn btn-default" type="button" ng-click="updateVideoDetailsAll()">
                                    <i class="fa fa-refresh"></i> Alle Videos
                                </button>
                                <button class="btn btn-default" type="button" ng-click="updateVideoDetailsNew()">
                                    <i class="fa fa-refresh"></i> Neue Videos
                                </button>
                                <button class="btn btn-default" type="button" ng-click="updateVideoDetailsFiltered()">
                                    <i class="fa fa-refresh"></i> Gefilterte Videos
                                </button>
                                <span class="help-block">
                                    Abrufen weiterer Video Details. Diese Details beinhaltet unter anderem die Video Laufzeit, sowie Video Statistiken (Views, Likes, usw.). Um die Statistiken aller Videos im selben Zeitraum vorliegen zu haben, sollten daher immer die Video Details aller Videos abgerufen werden.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card-content">
                <div class="card-content-header">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="videos-display">
                                Zeige {{tableParams.total()}} von {{videos.length}} Videos
                                <span ng-if="tableParams.total() !== videos.length">({{videos.length - tableParams.total()}} Videos ausgeblendet)</span>
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <button type="button" class="btn btn-default" ng-click="tableOptionsVisible=!tableOptionsVisible">
                                <i class="fa fa-sliders"></i> Optionen
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-content-body" uib-collapse="!tableOptionsVisible">
                    <div videos-options="tableOptions" videos-table="tableParams"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row videos-update" ng-if="updateState.active">
        <div class="col-md-12">
            <div class="card-content">
                <div class="card-content-body">
                    <div class="spinner">
                        <i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i>
                    </div>
                    <div class="info" ng-bind="updateState.info"></div>
                    <div class="latest" ng-bind="updateState.latest.title"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="!updateState.active">
        <div class="col-md-12">
            <div ng-include="'app/editor/views/videos/videos-all/videos-all-card.html'"></div>
        </div>
    </div>
</div>
