<div class="video-card" ng-if="video">
    <!-- toolbar -->
    <div class="toolbar" ng-mouseleave="toolbarVisible=false">
        <button class="btn btn-default" type="button" uib-tooltip="Bearbeiten" tooltip-popup-delay="100" tooltip-is-open="toolbarTooltipVisible" tooltip-placement="bottom" tooltip-append-to-body="true" ng-mouseover="toolbarVisible=true" ng-click="toolbarTooltipVisible && showMetadata()">
            <i class="fa fa-edit"></i>
        </button>
        <!-- toolbar horizontal -->
        <div class="toolbar-horizontal" ng-mouseover="toolbarVisible=true" ng-show="toolbarVisible">
            <div class="wrapper">
                <button class="btn btn-default" type="button" uib-tooltip="Kopieren" tooltip-placement="bottom" tooltip-append-to-body="true" ng-click="copy(video)">
                    <i class="fa fa-copy"></i>
                </button>
                <button class="btn btn-default" type="button" uib-tooltip="Einfügen" tooltip-placement="bottom" tooltip-append-to-body="true" ng-click="paste(video)">
                    <i class="fa fa-paste"></i>
                </button>
            </div>
        </div>
        <!-- toolbar vertical -->
        <div class="toolbar-vertical" ng-mouseover="toolbarVisible=true" ng-show="toolbarVisible">
            <div class="wrapper">
                <button class="btn btn-default" type="button" uib-tooltip="Auto" tooltip-placement="right" tooltip-append-to-body="true" ng-click="autoAll(video)">
                    <i class="fa fa-magic"></i>
                </button>
            </div>
        </div>
    </div>
    <!-- video edit -->
    <div ng-include="'views/template-edit-video.html'" ng-if="metadataVisible"></div>
    <!-- image -->
    <div class="image">
        <!-- Youtube thumbnail -->
        <a class="yt-thumbnail" target="_blank" href="https://www.youtube.com/watch?v={{video.id}}">
            <img img-src="https://i1.ytimg.com/vi/{{video.id}}/mqdefault.jpg" img-fallback="{{imagePlaceholders.video}}" img-loading="{{imagePlaceholders.video}}">
        </a>
        <!-- hosts -->
        <div class="hosts">
            <span ng-repeat="host in video.hosts | resolveReferences:'hosts' | orderBy">
                <a uib-tooltip="{{host.firstname}} {{host.lastname}}" tooltip-class="badge-zoom-tooltip" tooltip-is-open="tooltipVisible" tooltip-append-to-body="true" ng-href="#/hosts?host={{host.id}}" link-disable="tooltipVisible" ng-class="{'badge-zoom': tooltipVisible}">
                    <span class="badge-remove" ng-click="removeHost(video, host); $event.preventDefault();">
                        <i class="fa fa-times"></i>
                    </span>
            <img class="badge-round badge-md badge-shadow" img-src="{{host.image}}" img-fallback="{{imagePlaceholders.host}}" img-loading="{{imagePlaceholders.host}}">
            </a>
            </span>
        </div>
        <!-- shows -->
        <div class="shows">
            <span ng-repeat="show in video.shows | resolveReferences:'shows' | orderBy">
                <a uib-tooltip="{{show.name}}" tooltip-class="badge-zoom-tooltip" tooltip-is-open="tooltipVisible" tooltip-append-to-body="true" ng-href="#/shows?show={{show.id}}" link-disable="tooltipVisible" ng-class="{'badge-zoom': tooltipVisible}">
                    <span class="badge-remove" ng-click="removeShow(video, show); $event.preventDefault();">
                        <i class="fa fa-times"></i>
                    </span>
            <img class="badge-round badge-md badge-shadow" img-src="{{show.image}}" img-fallback="{{imagePlaceholders.show}}" img-loading="{{imagePlaceholders.show}}">
            </a>
            </span>
        </div>
        <!-- series -->
        <div class="series">
            <span ng-repeat="series in video.series | resolveReferences:'series' | orderBy">
                <a uib-tooltip="{{series.name}}" tooltip-class="badge-zoom-tooltip" tooltip-is-open="tooltipVisible" tooltip-append-to-body="true" ng-href="#/series?series={{series.id}}" link-disable="tooltipVisible" ng-class="{'badge-zoom': tooltipVisible}">
                    <span class="badge-remove" ng-click="removeSeries(video, series); $event.preventDefault();">
                        <i class="fa fa-times"></i>
                    </span>
            <img class="badge-round badge-md badge-shadow" img-src="{{series.image}}" img-fallback="{{imagePlaceholders.series}}" img-loading="{{imagePlaceholders.series}}">
            </a>
            </span>
        </div>
        <!-- duration -->
        <div class="duration">
            {{video.length | duration}}
        </div>
        <!-- rating -->
        <div class="rating" uib-tooltip="{{getRatingPercent(video)}}%" tooltip-append-to-body="true">
            <div class="bar" style="width: {{getRatingPercent(video)}}%"></div>
        </div>
    </div>
    <!-- stats -->
    <div class="stats">
        <div class="float-left" uib-tooltip="Views" tooltip-append-to-body="true">
            <i class="fa fa-eye"></i> {{video.stats.viewCount | number}}
        </div>
        <div class="float-left" uib-tooltip="Kommentare" tooltip-append-to-body="true">
            <i class="fa fa-comments"></i> {{video.stats.commentCount | number}}
        </div>
        <div class="float-left" uib-tooltip="Positive Bewertungen" tooltip-append-to-body="true">
            <i class="fa fa-thumbs-up"></i> {{video.stats.likeCount | number}}
        </div>
        <div class="float-left" uib-tooltip="Negative Bewertungen" tooltip-append-to-body="true">
            <i class="fa fa-thumbs-down"></i> {{video.stats.dislikeCount | number}}
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- title -->
    <div class="title">
        <a href="https://www.youtube.com/watch?v={{video.id}}" target="_blank">{{video.title}}</a>
    </div>
    <!-- dates -->
    <div class="dates">
        <div class="float-right" uib-tooltip="Veröffentlichung" tooltip-append-to-body="true" ng-show="video.published">
            <i class="fa fa-upload"></i> {{video.published | createDate | date:"dd.MM.yy"}}
        </div>
        <div class="float-right" uib-tooltip="Ausstrahlung" tooltip-append-to-body="true" ng-show="video.aired">
            <i class="fa fa-calendar"></i> {{video.aired | createDate | date:"dd.MM.yyyy"}}
        </div>
    </div>
</div>
