<div name="showForm" class="form-horizontal">
    <!-- id -->
    <div class="form-group">
        <label class="col-md-2 control-label" for="id">Primärschlüssel<span class="key-name">id</span></label>
        <div class="col-md-4">
            <div class="input-group" ng-init="lockedId=true">
                <input id="id" name="id" type="text" class="form-control input-md" ng-model="show.id" ng-disabled="lockedId">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="lockedId=!lockedId">
                        <i class="fa fa-fw" ng-class="{'fa-lock': lockedId, 'fa-unlock-alt': !lockedId}"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <!-- name -->
    <div class="form-group">
        <label class="col-md-2 control-label" for="name">Name<span class="key-name">name</span></label>
        <div class="col-md-4">
            <input id="name" name="name" type="text" class="form-control input-md" ng-model="show.name">
        </div>
    </div>
    <!-- description -->
    <div class="form-group">
        <label class="col-md-2 control-label" for="description">Beschreibung<span class="key-name">description</span></label>
        <div class="col-md-4">
            <textarea id="description" name="description" type="text" rows="5" class="form-control input-md" ng-model="show.description">
            </textarea>
        </div>
    </div>
    <!-- image -->
    <div img-input="show.image"></div>
</div>
