<div class="container-fluid videos">
    <div class="row videos-header">
        <div class="col-md-12 form-horizontal">
            <div class="form-group">
                <label class="col-md-3 control-label">Video Liste Abrufen</label>
                <div class="col-md-6">
                    <button class="btn btn-default" type="button" ng-click="updateVideosAll()">
                        <i class="fa fa-refresh"></i> Alle Videos
                    </button>
                    <button class="btn btn-default" type="button" ng-click="updateVideosNew()">
                        <i class="fa fa-refresh"></i> Neue Videos
                    </button>
                    <div class="btn-group" uib-tooltip="{{updateUntil | date:'dd.MM.yyyy'}}" tooltip-append-to-body="true">
                        <button class="btn btn-default" type="button" ng-click="updateVideosAllUntil(updateUntil)">
                            <i class="fa fa-refresh"></i> Alle Videos bis...
                        </button>
                        <button type="button" class="btn btn-default" ng-model="updateUntil" options="updateUntilOptions" date-range-picker>
                            <i class="fa fa-calendar"></i>
                        </button>
                    </div>
                    <span class="help-block">
                        Aktualisieren der Video Liste für alle definierten <a href="#/channels">Kanäle</a>. Die abgerufenen Informationen beinhaltet nur die Video ID, den Titel und das Veröffentlichungsdatum. Weitere Video Details müssen seperat abgerufen werden.
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Video Details Abrufen</label>
                <div class="col-md-6">
                    <button class="btn btn-default" type="button" ng-click="updateVideoDetailsAll()">
                        <i class="fa fa-refresh"></i> Alle Videos
                    </button>
                    <button class="btn btn-default" type="button" ng-click="updateVideoDetailsNew()">
                        <i class="fa fa-refresh"></i> Neue Videos
                    </button>
                    <button class="btn btn-default" type="button" ng-click="updateVideoDetailsFiltered()">
                        <i class="fa fa-refresh"></i> Gefilterte Videos
                    </button>
                    <span class="help-block">
                        Abrufen weiterer Video Details. Diese Details beinhaltet unter anderem die Video Laufzeit, sowie Video Statistiken (Views, Likes, usw.). Um die Statistiken aller Videos im selben Zeitraum vorliegen zu haben, sollten daher immer die Video Details aller Videos abgerufen werden.
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row videos-options">
        <div class="col-md-12">
            <div class="text-right">
                <button type="button" class="btn btn-default" ng-click="tableOptionsVisible=!tableOptionsVisible">
                    <i class="fa fa-sliders"></i> Optionen
                </button>
            </div>
            <div class="form-horizontal container-fluid" uib-collapse="!tableOptionsVisible">
                <fieldset class="row">
                    <legend>Darstellung</legend>
                    <!-- count -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="count">Einträge pro Seite</label>
                        <div class="col-md-4">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" ng-click="tableOptions.display.count = count" ng-class="{'active' : tableOptions.display.count == count}" ng-repeat="count in [10, 25, 50, 100]">
                                    {{count}}
                                </button>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="row">
                    <legend>Sortierung</legend>
                    <!-- column -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="orderBy">Nach</label>
                        <div class="col-md-4">
                            <ui-select ng-model="tableOptions.order.column" skip-focusser="true" search-enabled="false">
                                <ui-select-match placeholder="Auswählen..">
                                    <span ng-bind="$select.selected.name"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item.value as item in orderByOptions">
                                    <span ng-bind="item.name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <!-- type -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="orderType">Reihenfolge</label>
                        <div class="col-md-4">
                            <div class="radio radio-primary radio-inline" ng-repeat="radio in orderTypeOptions">
                                <input id="OrderType{{$index}}" type="radio" value="{{radio.value}}" name="tableOptions.order.type" ng-model="tableOptions.order.type" ng-checked="tableOptions.order.type === radio.value">
                                <label for="OrderType{{$index}}">{{radio.name}}</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="row">
                    <legend>Filter</legend>
                    <!-- title-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="filterTitle">Titel</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <input id="filterTitle" name="filterTitle" type="text" placeholder="Titel" class="form-control" ng-model="tableOptions.filter.title.text">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-disabled="!tableOptions.filter.title.text" ng-click="tableOptions.filter.title.text=null">
                                    <i class="fa fa-times"></i>
                                </button>
                            </span>
                            </div>
                            <div class="checkbox checkbox-inline checkbox-primary">
                                <input id="filterTitleRegex" class="styled" type="checkbox" ng-model="tableOptions.filter.title.regex">
                                <label for="filterTitleRegex">
                                    Regex
                                </label>
                            </div>
                            <div class="checkbox checkbox-inline checkbox-primary">
                                <input id="filterTitleSensitive" class="styled" type="checkbox" ng-model="tableOptions.filter.title.sensitive">
                                <label for="filterTitleSensitive">
                                    Groß-/Kleinschreibung
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- channels-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="filterChannels">Kanäle</label>
                        <div class="col-md-4">
                            <ui-select ng-model="channel.selected" on-select="addFilterChannel(channel.selected.id)">
                                <ui-select-match placeholder="Kanäle..">
                                    <span class="text-muted">Kanäle..</span>
                                </ui-select-match>
                                <ui-select-choices repeat="channel in (channels | filter: $select.search | orderBy)">
                                    <img class="badge-round badge-md" img-src="{{channel.image}}" img-fallback="{{imagePlaceholders.channel}}" img-loading="{{imagePlaceholders.channel}}">
                                    <span ng-bind="channel.title"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <!-- channel list -->
                    <div class="form-group" ng-if="tableOptions.filter.channels.filter.length">
                        <div class="col-md-offset-4 col-md-8">
                            <div class="button-list">
                                <button type="button" class="btn btn-default" uib-tooltip="{{channel.title || channel.id}}" tooltip-append-to-body="true" ng-click="removeFilterChannel(channel.id)" ng-repeat="channel in tableOptions.filter.channels.filter | resolveReferences:'channels' | orderBy">
                                    <img class="badge-round badge-md" img-src="{{channel.image}}" img-fallback="{{imagePlaceholders.channel}}" img-loading="{{imagePlaceholders.channel}}">
                                    <span ng-bind="channel.title"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- shows-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="filterShows">Formate</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <ui-select ng-model="show.selected" skip-focusser="true" on-select="addFilterShow(show.selected.id)">
                                    <ui-select-match placeholder="Formate..">
                                        <span class="text-muted">Formate..</span>
                                    </ui-select-match>
                                    <ui-select-choices group-by="listGroupShows" repeat="show in (shows | filter: $select.search | orderBy)">
                                        <img class="badge-round badge-md" img-src="{{show.image}}" img-fallback="{{imagePlaceholders.show}}" img-loading="{{imagePlaceholders.show}}">
                                        <span ng-bind="show.name"></span>
                                    </ui-select-choices>
                                </ui-select>
                                <div class="input-group-btn align-left">
                                    <ui-select ng-model="tableOptions.filter.shows.match" skip-focusser="true" search-enabled="false">
                                        <ui-select-match placeholder="Verknüpfung..">
                                            <span ng-bind="$select.selected.name"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="item.value as item in filterMatchOptions">
                                            <span ng-bind="item.name"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- shows list -->
                    <div class="form-group" ng-if="tableOptions.filter.shows.filter.length">
                        <div class="col-md-offset-4 col-md-8">
                            <div class="button-list">
                                <button type="button" class="btn btn-default" uib-tooltip="{{show.name || show.id}}" tooltip-append-to-body="true" ng-click="removeFilterShow(show.id)" ng-repeat="show in tableOptions.filter.shows.filter | resolveReferences:'shows' | orderBy">
                                    <img class="badge-round badge-md" img-src="{{show.image}}" img-fallback="{{imagePlaceholders.show}}" img-loading="{{imagePlaceholders.show}}">
                                    <span ng-bind="show.name"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- hosts-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="filterHosts">Moderatoren</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <ui-select ng-model="host.selected" skip-focusser="true" on-select="addFilterHost(host.selected.id)">
                                    <ui-select-match placeholder="Moderatoren..">
                                        <span class="text-muted">Moderatoren..</span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="host in (hosts | filter: $select.search | orderBy)">
                                        <img class="badge-round badge-md" img-src="{{host.image}}" img-fallback="{{imagePlaceholders.host}}" img-loading="{{imagePlaceholders.host}}">
                                        <span>{{host.firstname}} {{host.lastname}}</span>
                                        <span ng-if="host.nickname">({{host.nickname}})</span>
                                    </ui-select-choices>
                                </ui-select>
                                <div class="input-group-btn align-left">
                                    <ui-select ng-model="tableOptions.filter.hosts.match" skip-focusser="true" search-enabled="false">
                                        <ui-select-match placeholder="Verknüpfung..">
                                            <span ng-bind="$select.selected.name"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="item.value as item in filterMatchOptions">
                                            <span ng-bind="item.name"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- hosts list -->
                    <div class="form-group" ng-if="tableOptions.filter.hosts.filter.length">
                        <div class="col-md-offset-4 col-md-8">
                            <div class="button-list">
                                <button type="button" class="btn btn-default" uib-tooltip="{{host.name || host.id}}" tooltip-append-to-body="true" ng-click="removeFilterHost(host.id)" ng-repeat="host in tableOptions.filter.hosts.filter | resolveReferences:'hosts' | orderBy">
                                    <img class="badge-round badge-md" img-src="{{host.image}}" img-fallback="{{imagePlaceholders.host}}" img-loading="{{imagePlaceholders.host}}">
                                    <span>{{host.firstname}} {{host.lastname}}</span>
                                    <span ng-if="host.nickname">({{host.nickname}})</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- series-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="filterHosts">Serien</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <ui-select ng-model="series_.selected" skip-focusser="true" on-select="addFilterSeries(series_.selected.id)">
                                    <ui-select-match placeholder="Serien..">
                                        <span class="text-muted">Serien..</span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="series_ in (series | filter: $select.search | orderBy)">
                                        <img class="badge-round badge-md" img-src="{{series_.image}}" img-fallback="{{imagePlaceholders.series}}" img-loading="{{imagePlaceholders.series}}">
                                        <span ng-bind="series_.name"></span>
                                    </ui-select-choices>
                                </ui-select>
                                <div class="input-group-btn align-left">
                                    <ui-select ng-model="tableOptions.filter.series.match" skip-focusser="true" search-enabled="false">
                                        <ui-select-match placeholder="Verknüpfung..">
                                            <span ng-bind="$select.selected.name"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="item.value as item in filterMatchOptions">
                                            <span ng-bind="item.name"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- series list -->
                    <div class="form-group" ng-if="tableOptions.filter.series.filter.length">
                        <div class="col-md-offset-4 col-md-8">
                            <div class="button-list">
                                <button type="button" class="btn btn-default" uib-tooltip="{{series_.name || show.id}}" tooltip-append-to-body="true" ng-click="removeFilterSeries(series_.id)" ng-repeat="series_ in tableOptions.filter.series.filter | resolveReferences:'series' | orderBy">
                                    <img class="badge-round badge-md" img-src="{{series_.image}}" img-fallback="{{imagePlaceholders.series}}" img-loading="{{imagePlaceholders.series}}">
                                    <span ng-bind="series_.name"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- length -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="filterLength">Laufzeit</label>
                        <div class="col-md-4 datetime-picker">
                            <div class="input-group">
                                <div uib-timepicker ng-model="tableOptions.filter.length.start" hour-step="1" minute-step="5" show-spinners="false" show-meridian="false"></div>
                                <span class="input-group-btn">
                                    <button class="btn btn-default clear" ng-click="tableOptions.filter.length.start=0" ng-disabled="!tableOptions.filter.length.start">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </span>
                            </div>
                            <div class="input-group">
                                <div uib-timepicker ng-model="tableOptions.filter.length.end" hour-step="1" minute-step="5" show-spinners="false" show-meridian="false"></div>
                                <span class="input-group-btn">
                                    <button class="btn btn-default clear" ng-click="tableOptions.filter.length.end=0" ng-disabled="!tableOptions.filter.length.end">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- published -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="filterPublished">Veröffentlichung</label>
                        <div class="col-md-4 datetime-picker">
                            <div class="input-group">
                                <input type="text" placeholder="Von" class="form-control date" ng-model="tableOptions.filter.published.start" options="filterPublishedOptions" date-range-picker>
                                <span class="input-group-btn">
                                    <button class="btn btn-default clear" ng-click="tableOptions.filter.published.start=0" ng-disabled="!tableOptions.filter.published.start">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </span>
                            </div>
                            <div class="input-group">
                                <input type="text" placeholder="Bis" class="form-control date" ng-model="tableOptions.filter.published.end" options="filterPublishedOptions" date-range-picker>
                                <span class="input-group-btn">
                                    <button class="btn btn-default clear" ng-click="tableOptions.filter.published.end=0" ng-disabled="!tableOptions.filter.published.end">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- events -->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Event</label>
                        <div class="col-md-4">
                            <div class="radio radio-primary radio-inline" ng-repeat="selection in filterSelectionOptions">
                                <input id="filterEvents{{$index}}" type="radio" value="{{selection.value}}" name="filterEvents" ng-model="tableOptions.filter.event" ng-checked="tableOptions.filter.event === selection.value">
                                <label for="filterEvents{{$index}}">{{selection.name}}</label>
                            </div>
                        </div>
                    </div>
                    <!-- no shows videos -->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Keine Formate</label>
                        <div class="col-md-4">
                            <div class="radio radio-primary radio-inline" ng-repeat="selection in filterSelectionOptions">
                                <input id="filterNoShow{{$index}}" type="radio" value="{{selection.value}}" name="filterNoShow" ng-model="tableOptions.filter.noShow" ng-checked="tableOptions.filter.noShow === selection.value">
                                <label for="filterNoShow{{$index}}">{{selection.name}}</label>
                            </div>
                        </div>
                    </div>
                    <!-- no hosts videos -->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Keine Moderatoren</label>
                        <div class="col-md-4">
                            <div class="radio radio-primary radio-inline" ng-repeat="selection in filterSelectionOptions">
                                <input id="filterNoHost{{$index}}" type="radio" value="{{selection.value}}" name="filterNoHost" ng-model="tableOptions.filter.noHost" ng-checked="tableOptions.filter.noHost === selection.value">
                                <label for="filterNoHost{{$index}}">{{selection.name}}</label>
                            </div>
                        </div>
                    </div>
                    <!-- no series videos -->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Keine Serie</label>
                        <div class="col-md-4">
                            <div class="radio radio-primary radio-inline" ng-repeat="selection in filterSelectionOptions">
                                <input id="filterNoSeries{{$index}}" type="radio" value="{{selection.value}}" name="filterNoSeries" ng-model="tableOptions.filter.noSeries" ng-checked="tableOptions.filter.noSeries === selection.value">
                                <label for="filterNoSeries{{$index}}">{{selection.name}}</label>
                            </div>
                        </div>
                    </div>
                    <!-- online videos -->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Online</label>
                        <div class="col-md-4">
                            <div class="radio radio-primary radio-inline" ng-repeat="selection in filterSelectionOptions">
                                <input id="filterOnline{{$index}}" type="radio" value="{{selection.value}}" name="filterOnline" ng-model="tableOptions.filter.online" ng-checked="tableOptions.filter.online === selection.value">
                                <label for="filterOnline{{$index}}">{{selection.name}}</label>
                            </div>
                        </div>
                    </div>
                    <!-- valid videos -->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Valid</label>
                        <div class="col-md-4">
                            <div class="radio radio-primary radio-inline" ng-repeat="selection in filterSelectionOptions">
                                <input id="filterValid{{$index}}" type="radio" value="{{selection.value}}" name="filterValid" ng-model="tableOptions.filter.valid" ng-checked="tableOptions.filter.valid === selection.value">
                                <label for="filterValid{{$index}}">{{selection.name}}</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-4">
                            <button class="btn btn-primary" ng-click="update();">Anwenden</button>
                            <button class="btn btn-default" ng-click="resetOptions(); update();">Zurücksetzen</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="row videos-update" ng-if="updateState.active">
        <div class="col-md-12">
            <div class="spinner">
                <i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i>
            </div>
            <div class="info" ng-bind="updateState.info"></div>
            <div class="latest" ng-bind="updateState.latest.title"></div>
        </div>
    </div>
    <div class="row videos-table" ng-if="!updateState.active">
        <div class="videos-close-container"></div>
        <div class="col-md-12">
            <div>
                Zeige {{tableParams.total()}} von {{videos.length}} Videos
                <span ng-if="tableParams.total() !== videos.length">({{videos.length - tableParams.total()}} Videos ausgeblendet)</span>
            </div>
            <table class="table" ng-table="tableParams">
                <tr class="hide" ng-repeat="video in $data">
                    <td></td>
                </tr>
                <tr>
                    <td class="container-fluid">
                        <div class="row">
                            <div ng-repeat="video in $data" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <div video-card="video"></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
