<div class="card-transparent">
    <table class="table cards" ng-table="table.params">
        <tr ng-repeat="channel in $data">
            <td class="hide"></td>
        </tr>
        <td class="container-fluid">
            <div class="row">
                <div ng-repeat="channel in $data" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card-image">
                        <div class="card-image-header card-image-header-xs">
                            <div class="image">
                                <a ui-sref="editor.videos.channels.one({channelId: channel.id})">
                                    <img class="image-badge image-badge-lg" img-src="{{channel.image}}" img-fallback="{{imagePlaceholders.channel}}" img-loading="{{imagePlaceholders.channel}}">
                                </a>
                            </div>
                            <div class="scroll-container" swipe-propagation="false" perfect-scrollbar>
                                <div class="title">
                                    <a ui-sref="editor.videos.channels.one({channelId: channel.id})">{{channel.title || '(Kein Titel)'}}</a>
                                </div>
                                <div class="content">
                                    {{channel.description}}
                                </div>
                            </div>
                        </div>
                        <div class="card-image-footer text-right">
                            <a ui-sref="editor.videos.channels.one({channelId: channel.id})">
                                <i class="fa fa-lg fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </table>
</div>
