<div class="card-content">
    <div class="card-content-body">
        <div class="table-container">
            <table class="table table-hover list" ng-table="table.params">
                <tr class="middle link" ng-repeat="channel in $data" ng-click="one(channel)">
                    <td width="1">
                        <img img-src="{{channel.image}}" img-fallback="{{imagePlaceholders.channel}}" img-loading="{{imagePlaceholders.channel}}">
                    </td>
                    <td width="200" title="'Titel'" sortable="'title'">
                        {{channel.title}}
                    </td>
                    <td width="1" title="'Benutzername'" sortable="'username'">
                        {{channel.username}}
                    </td>
                    <td width="1" title="'Kanal ID'" sortable="'channelId'">
                        {{channel.channelId}}
                    </td>
                    <td width="1" title="'Video Playlist ID'" sortable="'playlistId'">
                        {{channel.playlistId}}
                    </td>
                    <td title="'Beschreibung'" sortable="'description'">
                        <div class="limit-height">
                            {{channel.description}}
                        </div>
                    </td>
                    <td width="1">
                        <button class="btn btn-danger" type="button" data-title="Löschen" ng-click="delete(channel)" bs-tooltip>
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div table-pagination="table.params"></div>
    </div>
</div>
