.key-name {
    display: block;
    color: #aaa;
    font-size: 0.9em;
}

.inline-wrap {
    > * {
        display: inline-block;
        margin-bottom: 5px;
    }
}


/* Component LESS */

@import "views/navigation/navigation.less";
@import "views/config/config.less";
@import "views/data/data.less";
@import "views/channels/channels.less";
@import "views/channels/channels-all/channels-all.less";
@import "views/channels/channels-one/channels-one.less";
@import "views/videos/videos.less";
@import "views/videos/videos-all/videos-all.less";
@import "views/videos/videos-one/videos-one.less";
@import "utils/app.editor.utils.less";

@import "views/shows/shows.less";
@import "views/shows/shows-all/shows-all.less";
@import "views/shows/shows-one/shows-one.less";
@import "views/hosts/hosts.less";
@import "views/hosts/hosts-all/hosts-all.less";
@import "views/hosts/hosts-one/hosts-one.less";
@import "views/series/series.less";
@import "views/series/series-one/series-one.less";
@import "views/series/series-all/series-all.less";
/* Add Component LESS Above */
